            <h2>Contacta</h2>
            <hr>
            <address>
                <strong>Local</strong>
                <br>{{.Site.Social.address1}}
                <br>{{.Site.Social.address2}}
                <br>{{.Site.Social.address3}}
                <br>
            </address>
            <a title="facebook no es tu amigo!" href="https://www.facebook.com/lacartadaurada/"><img src="/images/logo-fb-small.png" alt="" /> facebook.com/lacartadaurada</a><br>
            <a title="instagram tampoco es tu amigo!" href="https://www.instagram.com/lacartadaurada/"><img src="/images/logo-insta-small.png" alt="" /> instagram.com/lacartadaurada</a>
            <!--<address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">name@example.com</a>
                </address>-->

