{{ $customDateFormat := "02.01.2006" }}
{{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}

<div class="card-body">
    {{ if ne .Params.hidetitle true }}
    <h1 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h1>
    {{ end }}
    {{ if ne .Site.Params.hideCardSubtitle true }}
    {{ if ne .Params.hidesubtitle true }}
    <h6 class="card-subtitle mb-4 text-muted">
        <i class="fas fa-calendar-day"></i>&nbsp;{{ .PublishDate.Format $customDateFormat }}{{ if gt .Lastmod .PublishDate }}, {{ i18n "lastupdated" }} {{ .Lastmod.Format $customDateFormat }}{{ end }} -
        <i class="fas fa-user"></i>&nbsp;{{ range .Site.Author }}{{ . }}{{ end }}
        {{ if ne .Site.Params.hideReadingTime true }}
            {{ if and (not (.Scratch.Get "showPostSummary")) (.Scratch.Get "fullsize") }}
                - <i class="fas fa-clock"></i>&nbsp;~{{ i18n "readingTime" .ReadingTime }}
            {{ end }}
        {{ end }}
    </h6>
    {{ end }}
    {{ end }}

    {{ if eq .Type "video" }}
    {{ else if eq .Type "audio" }}
    {{ else if eq .Type "link" }}
        <p class="text-center"><a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg" tabindex="-1" role="button"><i class="fas fa-link"></i>&nbsp;{{ .Title }}</a></p>
    {{ else if eq .Type "quote" }}
        <blockquote class="blockquote text-center">
            <p class="mb-0"><i class="fas fa-quote-left fa-2x"></i>&nbsp;{{ .Params.quote }}&nbsp;<i class="fas fa-quote-right fa-2x"></i></p>
            <p class="blockquote-footer"><cite title="{{ .Params.quoteauthor }}">{{ .Params.quoteauthor }}</cite></p>
        </blockquote>
    {{ end }}

    {{ if .Scratch.Get "showPostSummary" }}
        <div class="card-text">{{ .Summary }}</div>

        <a href="{{ .RelPermalink }}" class="card-link">{{ i18n "readmore" }}&hellip;</a>
        {{ if ne .Site.Params.hideReadingTime true }}
             (<i class="fas fa-clock"></i>&nbsp;~{{ .ReadingTime }} Min.)
        {{end}}
    {{ else }}
        <div class="card-text">{{ .Content }}</div>
    {{ end }}
</div>
