<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" ng-controller="LoginController">
    <div class="container">
        <a class="navbar-brand me-0" href="{{ absURL "" }}">
            <img src="/images/logo-banner-base-xs.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul ng-cloak ng-if="login.loginReady&&!login.isLoggedIn" class="navbar-nav ms-auto">
                {{ $currentPage := . }}
                {{ range $index, $element := .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown{{$index}}" data-bs-toggle="dropdown"
                                                                                         aria-haspopup="true" aria-expanded="false">{{ .Pre }} {{ .Name }}</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                        {{ range .Children }}
                        <li><a class="dropdown-item" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a>
                </li>
                {{ end }}
                {{ end }}
                <div class="user-menu-area my-0 py-0 ms-md-5">
                    <user-menu></user-menu>
                </div>
            </ul>
            <ul ng-cloak ng-if="login.loginReady&&login.isLoggedIn" class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/actividades/"><i class="far fa-calendar"></i> Actividades</a></li>
                <li class="nav-item"><a class="nav-link" href="/juegos/"><i class='fa fa-puzzle-piece'></i> Juegos</a></li>
                <li ng-if="login.isLoggedIn&&login.whoami.groups.includes(1)" class="nav-item"><a class="nav-link" href="/accounting/"><i class='far fa-chart-bar'></i> Tesorería</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown"
                                                                               aria-haspopup="true" aria-expanded="false">Más</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown">
                        <li><a class="dropdown-item" href="/acerca-de/"><i class='fas fa-fw fa-home'></i> Acerca de</a></li>
                        <li><a class="dropdown-item" href="/contacto/"><i class='fas fa-fw fa-address-card'></i> Contacto</a></li>
                        <li><a class="dropdown-item" href="/local/"><i class='fas fa-fw fa-university'></i> Local</a></li>
                        <li><a class="dropdown-item" href="/trastienda/"><i class='fas fa-fw fa-coffee'></i> Trastienda</a></li>
                    </ul>
                </li>
                <div class="user-menu-area my-0 py-0 ms-md-5">
                    <user-menu></user-menu>
                </div>
            </ul>

        </div>
    </div>
</nav>

