<base href="/"> <!-- angularjs html 5 mode -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ range .Site.Author }}{{ . }}{{ end }}">
<meta name="keywords" content="{{ .Site.Params.keywords }}" />

<link rel="shortcut icon" href="{{ absURL "" }}images/icon-57.png" />
<link rel="apple-touch-icon" href="{{ absURL "" }}images/icon-57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ absURL "" }}images/icon-72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ absURL "" }}images/icon-114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ absURL "" }}images/icon-144.png" />

{{ if ne .Params.noseo true }} 
{{ else }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ if .Site.RSSLink }}<link rel="alternate" href="{{ .Site.RSSLink | relLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}"/>{{ end }}
{{ end }}

{{ $themeColor := "default" }}
{{ if .Site.Params.themeColor }}
    {{ $themeColor = .Site.Params.themeColor }}
{{ end }}

{{ $allcss_files := slice }}
{{- range .Site.Data.css }}
{{ $allcss_files = $allcss_files | append (resources.Get .) }}
{{- end }}


{{ $allcss := $allcss_files | resources.Concat "/css/vendor.css" | minify | fingerprint "sha512" }}

<link rel="stylesheet" href="{{ $allcss.RelPermalink }}" integrity="{{ $allcss.Data.Integrity }}">

{{- range .Site.Params.csscdn }}
    <link rel="stylesheet" href="{{ . }}">
{{- end }}

{{- range .Site.Params.css }}
    {{ $pagestyle := resources.Get . | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $pagestyle.RelPermalink }}" integrity="{{ $pagestyle.Data.Integrity }}">
{{- end }}

{{- range .Params.css }}
    {{ $pagestyle := resources.Get . | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $pagestyle.RelPermalink }}" integrity="{{ $pagestyle.Data.Integrity }}">
{{- end }}
