<div class="card h-100">
    <img class="card-img-top" src="/images/local-17-small.jpg" alt="">
    <div class="card-body">
        <h4 class="card-title">Torneos</h4>
        <p class="card-text">Realizamos varios torneos durante el año. Síguenos para enterarte primero y preparar tu jugada.</p>
        <div class="know-more"><a href="/torneos">saber más...</a></div>
    </div>
</div>
