<div class="card h-100">
    <img class="card-img-top" src="/images/local-14-small.jpg" alt="">
    <div class="card-body">
        <h4 class="card-title">Días Jugones</h4>
        <!--<p class="card-text">Todos los miércoles en nuestro local a partir de las 17:30, juegos de mesa para todas las edades.</p>-->
        <p class="card-text">Solemos organizar partidas, ligas y torneos. Mantente al día a través de nuestras redes sociales.</p>
        <div class="know-more"><a href="/participa">leer más...</a></div>
    </div>
</div>
