<div class="card h-100">
    <img class="card-img-top" src="/images/local-19-small.jpg" alt="">
    <div class="card-body">
        <h4 class="card-title">Local</h4>
        <p class="card-text">Nuestro local, situado en el centro del pueblo. Un entorno ideal para juegos de mesa.</p>
        <div class="know-more"><a href="/local">conocer más...</a></div>
    </div>
</div>

