<header class="bg-primary pt-5 pb-2 pb-md-5 mb-5">
	<div class="container h-100">
		<div class="row h-100 align-items-center-md">
			<div class="col-2 col-sm-3 col-md-4 ps-2 ps-sm-0">
				<img class="lacarta-logo" src="/images/logo-250-250.png" alt="La Carta Daurada"></img>
			</div>
			<div class="col-10 col-sm-9 col-md-8 logo-container">
				<h1 class="fw-normal display-4 text-white mt-3 mb-2 d-none d-sm-block">La Carta Daurada</h1>
				<p class="fw-normal lead mb-md-4 text-white-50">Asociación Cultural. Juegos de mesa, estrategia y rol.</p>
				<!--<div class="logo-game-icons"></div>-->
				<img class="game-icons d-none d-md-block" src="/images/iconos-juegos-white.png"></img>
			</div>
		</div>
		<div class="col-12">
			<img class="game-icons d-md-none" src="/images/iconos-juegos-white.png"></img>
		</div>
	</div>
</header>

