<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Juegos de mesa</h2>
            <hr>
            <p>La Carta Daurada es una asociación cultural sin ánimo de lucro, creada en 2018, destinada a promocionar y disfrutar de los juegos de mesa en Benicàssim, y compartir dicha afición con gente de la provincia de todas las edades.</p>
            <a class="btn btn-primary btn-lg" href="/participa">Participa &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
        {% if has_nextevents %}
           {{- partial "nextevents.html" . -}}
        {% else %}
           {{- partial "contacta.html" . -}}
        {% endif %}
        </div>
    </div> <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
           {{- partial "site-card-1.html" . -}}
        </div>
        <div class="col-md-4 mb-5">
           {{- partial "site-card-2.html" . -}}
        </div>
        <div class="col-md-4 mb-5">
        {% if has_nextevents %}
            {{- partial "contacta.html" . -}}
        {% else %}
           {{- partial "site-card-3.html" . -}}
        {% endif %}
        </div>
    </div> <!-- /.row -->
</div> <!-- /.container -->
