<div class="row">
    <div class="col">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="/profile/">Perfil</a></li>
                <li class="breadcrumb-item" aria-current="page">Editar</li>
            </ol>
        </nav>


    </div>
</div>

<div class="row">
    <div class="col-12 col-md-2">
        <!--<img class="rounded-circle shadow-1-strong" ng-src="/images{{userModel.avatar}}" width="128" height="128"></img>-->
        <img class="col-12" ng-src="{{userModel.trustedAvatar}}"></img>
    </div>
    <div class="col-12 col-md-10">
        <h1 class="card-title">Editar perfil</h1>
        <ul class="nav nav-tabs mb-3" ng-if="userModel.id">
            <li class="nav-item">
                <a class="nav-link" ng-class="{active: currentForm=='edit'}" href="#" ng-click="setSection('edit', $event)">Editar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-class="{active: currentForm=='password-change'}" href="#" ng-click="setSection('password-change', $event)">Cambiar contraseña</a>
            </li>
        </ul>

        <form name="passwordForm" ng-if="currentForm=='password-change'" novalidate>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña actual</label>
                <input type="password" class="form-control" id="password" aria-describedby="userpasswordHelp" ng-model="passwordModel.password" required></input>
            </div>
            <div class="mb-3">
                <label for="new_password" class="form-label">Nueva contraseña</label>
                <input type="password" class="form-control" id="new_password" aria-describedby="userpasswordHelp" ng-model="passwordModel.new_password" required></input>
            </div>
            <div class="mb-3">
                <label for="new_password_confirm" class="form-label">Repite la nueva contraseña</label>
                <input type="password" class="form-control" id="new_password_confirm" aria-describedby="userpasswordHelp" ng-model="passwordModel.new_password_confirm" required></input>
            </div>
            <button type="submit" ng-click="submitPassword(passwordForm)" class="btn btn-primary">Vamos</button>
            <div class="opacity-animate site-message-form-status alert alert-success mt-3" ng-if="passwordStatusOk">
                <i class="fa fa-check-circle"></i> La contraseña se ha cambiado con éxito.
            </div>
            <div class="opacity-animate site-message-form-status alert alert-danger mt-3" ng-if="passwordStatusNok">
                <i class="fa fa-exclamation-circle"></i> {{passwordStatusNok}}
            </div>

        </form>

        <form name="userForm" novalidate ng-if="currentForm=='edit'">
            <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Usuario" ng-model="userModel.username" disabled>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre público</label>
                <input type="text" class="form-control" id="name" aria-describedby="usernameHelp" placeholder="Nombre" ng-model="userModel.name">
                <small id="emailHelp" class="form-help form-text text-muted">Este nombre se mostrará públicamente..</small>
            </div>
            <div class="mb-3">
                <label for="private-name" class="form-label">Nombre privado</label>
                <input type="text" class="form-control" id="private-name" aria-describedby="privatenameHelp" placeholder="Nombre" ng-model="userModel.privateName">
                <small id="emailHelp" class="form-help form-text text-muted">Este nombre solo se mostrará a usuarios registrados..</small>
            </div>
            <div class="mb-3">
                <label for="motto" class="form-label">Motto</label>
                <textarea type="text" class="form-control" id="motto" aria-describedby="usermottoHelp" placeholder="Motto" ng-model="userModel.motto"></textarea>
                <small id="emailHelp" class="form-help form-text text-muted">Una frase que te representa..</small>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" ng-model="userModel.email">
                <small id="emailHelp" class="form-help form-text text-muted">El email no es obligatorio..</small>
            </div>
            <button type="submit" ng-click="submit(userForm)" class="btn btn-primary">Vamos</button>
            <button type="submit" ng-click="cancelEdit()" class="btn btn-secondary">Cancelar</button>
        </form>
        <div class="mt-5 alert alert-danger" role="alert" ng-if="status" ng-cloak>
            <i class="fas fa-warning"></i> {{ status }}
        </div>
    </div>
</div>

