<div class="row">
    <div class="col-12 col-md-8">
        <div class="row mb-2">
            <div class="col-auto">
                <img class="rounded-circle shadow-1-strong" ng-src="{{userModel.avatar}}" width="128" height="128"></img>
            </div>
            <div class="col">
                <h1 class="card-title">{{profileTitle}}</h1>
                <p ng-if="login.isLoggedIn&&login.whoami.id==userModel.id&&userModel.username">username: {{userModel.username}}</p>
                <p>Nombre: {{userModel.name}}</p>
                <p ng-if="login.isLoggedIn&&login.whoami.id==userModel.id&&userModel.email">email: {{userModel.email}}</p>
                <p ng-if="groups.length">grupos:
                <span ng-repeat="group in groups">
                    <a ng-href="/g/{{group.slug}}">
                        <avatar-image avatar="group.avatar" title="{{group.title}}" width="32"></avatar-image>
                    </a>
                </span>
                </p>
                <blockquote class="blockquote d-none d-sm-block" ng-if="userModel.trustedMotto"><small><span ng-bind-html="userModel.trustedMotto"></span></small></blockquote>
            </div>
        </div>
        <div class="row d-sm-none mx-0 mx-sm-5">
            <div class="col">
                <blockquote class="blockquote" ng-if="userModel.trustedMotto"><small><span ng-bind-html="userModel.trustedMotto"></span></small></blockquote>
            </div>
        </div>
        <div class="p-md-3">
            <div class="row justify-content-left" ng-if="annotationsDict.like">
                <h4>favoritos</h4>
                <div ng-click="openUrl(annotation.url)" class="annotation-list border border-dark p-0 ml-3" ng-repeat="annotation in annotationsDict.like">
                    <span ng-if="!annotation.entity.avatar">{{annotation.entity.title}}</span>
                    <avatar-image ng-if="annotation.entity.avatar" avatar="annotation.entity.avatar" title="{{annotation.entity.title}}" width="64"></avatar-image>
                </div>
            </div>
            <div class="row justify-content-left" ng-if="login.isLoggedIn&&login.whoami.id==userModel.id&&!annotationsDict.like">
                <h4>favoritos</h4>
                <div class="col">
                    <p>No tienes juegos marcados como favoritos.</p><p>Puedes añadir algunos desde el <a ui-sref="gameslist">listado de juegos</a>, marcando con el <i class="fa fa-heart"></i>.</p>
                </div>
            </div>
            <div ng-if="login.isLoggedIn&&annotationsDict.have" class="row justify-content-left mt-2">
                <h4>propiedad</h4>
                <div ng-click="openUrl(annotation.url)" class="annotation-list border border-dark p-0 ml-3" ng-repeat="annotation in annotationsDict.have">
                    <span ng-if="!annotation.entity.avatar">{{annotation.entity.title}}</span>
                    <avatar-image ng-if="annotation.entity.avatar" avatar="annotation.entity.avatar" title="{{annotation.entity.title}}" width="64"></avatar-image>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-auto" ng-if="login.isLoggedIn&&login.whoami.id==userModel.id">
                <entity-popmenu class="mb-3" on-edit="editProfile()" on-edit-avatar="editAvatar()" model="userModel">
                </entity-popmenu>
            </div>
        </div>

        <river ng-if="login.isLoggedIn&&userModel.id" access="{userId: userModel.id}" river-title="Actividad" limit="5"></river>
    </div>


</div>
