<div ng-if="$ctrl.model.editable||($ctrl.ttachmentsList&&a$ctrl.ttachmentsList.length)>0" class="attachment-section justify-content-center" ng-cloak>
    <h4>Ficheros</h4>
    <hr>
    <div class="animate-repeat-enter attachment-element" ng-repeat="attachment in $ctrl.attachmentsList" class="mb-1">
        <div class="with-tools position-relative">
            <div class="with-tools-main pt-1">
                <a target="_blank" ng-href="/media/{{attachment.name}}"><i ng-class="attachment.cssClass"></i> {{attachment.alt||attachment.name}}</a>
            </div>
            <div ng-if="!$ctrl.isAdding&&!$ctrl.isEditing" class="with-tools-tools position-absolute end-0 top-0">
                <privacy-icons class="me-1" visibility="{{attachment.visibility}}"></privacy-icons>
                <button title="Editar" class="btn btn-link p-1 fa-hover" ng-if="attachment.editable" ng-click="$ctrl.editAttachment(attachment, '.attachment-alt')"><i class="fas fa-edit"></i></button>
                <button title="Borrar" class="btn btn-link p-1 fa-hover" ng-if="attachment.editable" ng-click="$ctrl.deleteAttachment(attachment)"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>

    <div class="animate-leave" ng-show="$ctrl.login.isLoggedIn&&$ctrl.model.editable&&!$ctrl.isAdding&&!$ctrl.isEditing">
        <button class="addattachment-button btn btn-link p-0 mt-2" ng-click="$ctrl.startAddAttachment()"><i class="fas fa-plus"></i> añadir archivo</button>
    </div>
    <div class="animate-leave" ng-show="$ctrl.login.isLoggedIn&&$ctrl.model.editable&&$ctrl.isEditing">
        <form class="editattachment-form" ng-submit="postAttachment(attachmentsForm)" name="attachmentsForm" novalidate>
            <div class="form-group">
                <input class="form-control mb-2 attachment-alt" type="text" placeholder="Título" ng-model="$ctrl.attachmentModel.alt"></input>

            </div>
            <div class="row mb-2">
                <div class="col-auto">
                    <label for="vis-select" class="col-form-label">Visibilidad:</label>
                </div>
                <div class="col">
                    <select id="vis-Select" class="browser-default custom-select form-select" ng-model="$ctrl.attachmentModel.visibility">
                        <option value="public">Publico</option>
                        <option value="members">Miembros</option>
                        <option value="group">Grupo</option>
                        <option ng-if="$ctrl.login.whoami.id==$ctrl.attachmentModel.userId" value="private">Privado</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a class="btn btn-secondary" ng-click="$ctrl.endAddAttachment()">Cancelar</a>
        </form>
    </div>
    <div class="animate-show-hide" ng-show="$ctrl.login.isLoggedIn&&$ctrl.model.editable&&$ctrl.isAdding">
        <form class="addattachment-form" name="attachmentsAddForm" novalidate>
            <div class="form-group my-3">
                <div class="dropzone-container">
                    <dropzone max-files="1" upload-url="/api/upload/{{$ctrl.modelType}}/{{$ctrl.model.id}}"></dropzone>
                </div>
            </div>
            <div>
                <a class="btn btn-secondary" ng-click="$ctrl.endAddAttachment()">Cerrar</a>
            </div>
        </form>
    </div>
</div>
