<div class="row">
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a ng-class="{active: $ctrl.section=='listing'}" class="nav-link" href="/calendario/" ng-click="$event.preventDefault();$ctrl.setSection('listing')">Biblioteca</a>
        </li>
        <li class="nav-item">
            <button ng-class="{active: $ctrl.section=='add'}" class="nav-link" aria-current="page" href="#" ng-click="$ctrl.setSection('add')">Añadir</button>
        </li>
    </ul>

    <div ng-if="$ctrl.section=='listing'">
        <div class="col-12">
            <h4>{{$ctrl.avatarListingTitle}}</h4>
            <div class="row">
                <div class="col-auto col-form-label">Filtro:</div>
                <div class="col-auto">
                    <input class="form-control" type="text" ng-change="$ctrl.updateFilters()" ng-model="filters.title"></input>
                </div>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col-3 col-md-1 m-1 avatar-list" ng-repeat="avatar in $ctrl.avatarList | filter : {alt:filters.title} track by avatar.id">
                    <a href="#" ng-click="$event.preventDefault();$ctrl.selectAvatar(avatar)"><img class="img-fluid" ng-src="{{avatar.directUrl||avatar.avatar||'/media/'+avatar.name}}"></img></a>
                    <!--<a href="#" ng-click="$event.preventDefault();$ctrl.selectAvatar(avatar)"><avatar-image class="img-fluid" avatar="avatar.avatar" width="100"></avatar-image></a>-->
                </div>
                <div class="col-3 col-md-1 m-1 avatar-list">
                    <a href="#" ng-click="$event.preventDefault();$ctrl.setSection('add')">
                        <div class="justify-content-center d-flex flex-column align-items-center border border-dark h-100 w-100 d-inline-block bg-black">
                            <span class="fs-1 text-light">+</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div ng-if="$ctrl.genericList" class="col-12">
            <h4>Avatars genéricos</h4>
            <div class="row">
                <div class="col-3 col-md-1 m-1 avatar-list" ng-repeat="avatar in $ctrl.genericList track by avatar.id">
                    <a href="#" ng-click="$event.preventDefault();$ctrl.selectAvatar(avatar)"><img class="img-fluid" ng-src="{{avatar.directUrl||avatar.avatar||'/media/'+avatar.name}}"></img></a>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.section=='add'" class="col-12 col-md-8">
        <dropper-cropper info="$ctrl.dropzoneInfo" id="cropper" upload-url="/api/upload/avatar/"></dropper-cropper>
    </div>
    <div ng-if="$ctrl.section=='add'" class="col-12 col-md-4">
        <div class="row" ng-show="$ctrl.dropzoneInfo.status=='cropping'">
            <div class="col-auto">
                <div id="preview" class="cropper-preview mb-3"></div>
            </div>
            <div ng-show="$ctrl.modelType=='user'" class="col-auto">
                <div id="preview-round" class="cropper-preview rounded-circle mb-3"></div>
            </div>
        </div>
        <button ng-if="$ctrl.dropzoneInfo.status=='cropping'" type="submit" ng-click="$ctrl.submitAvatar()" class="btn btn-primary">Vamos</button>
        <button type="submit" ng-click="$ctrl.cancelEdit()" class="btn btn-secondary">Cancelar</button>
    </div>
</div>
