<div ng-if="$ctrl.model.editable||$ctrl.bookmarksList.length>0" class="bookmark-section justify-content-center mb-4" ng-cloak>
    <h4>Enlaces</h4>
    <hr>
    <div ng-repeat="bookmark in $ctrl.bookmarksList" class="animate-repeat-enter mb-1">
        <div class="with-tools position-relative">
            <div class="with-tools-main pt-1">
                <a target="_blank" ng-href="{{bookmark.type == 'whatsapp'?'tel:':''}}{{bookmark.url}}"><i ng-class="bookmark.cssClass"></i> {{bookmark.title||bookmark.url}}</a>
            </div>
            <div ng-if="!$ctrl.isAdding&&!$ctrl.isEditing" class="with-tools-tools position-absolute end-0 top-0">
                <privacy-icons class="me-1" visibility="{{bookmark.visibility}}"></privacy-icons>
                <button title="Editar" class="btn btn-link p-1 fa-hover" ng-if="bookmark.editable" ng-click="$ctrl.editBookmark(bookmark, '.bookmark-url')"><i class="fas fa-edit"></i></button>
                <button title="Borrar" class="btn btn-link p-1 fa-hover" ng-if="bookmark.editable" ng-click="$ctrl.deleteBookmark(bookmark)"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>

    <div ng-show="$ctrl.login.isLoggedIn&&$ctrl.model.editable&&!$ctrl.isAdding" class="animate-leave">
        <button class="addbookmark-button btn btn-link p-0 mt-2" ng-click="$ctrl.startAddBookmark('.bookmark-url')"><i class="fas fa-plus"></i> añadir enlace</button>
    </div>
    <div ng-show="$ctrl.login.isLoggedIn&&$ctrl.model.editable&&$ctrl.isAdding" class="animate-leave">
        <form class="addbookmark-form" ng-submit="$ctrl.postBookmark(bookmarksForm)" name="bookmarksForm" novalidate>
            <div class="form-group">
                <input class="form-control mb-2 bookmark-url" type="text" placeholder="https://..." ng-model="$ctrl.bookmarkModel.url" required></input>
                <input class="form-control mb-2 bookmark-title" type="text" placeholder="Título" ng-model="$ctrl.bookmarkModel.title"></input>
                <div class="row mb-2">
                    <div class="col-auto">
                        <label for="vis-select" class="col-form-label">Visibilidad:</label>
                    </div>
                    <div class="col">
                        <select id="vis-Select" class="browser-default custom-select form-select" ng-model="$ctrl.bookmarkModel.visibility">
                            <option value="public">Publico</option>
                            <option value="members">Miembros</option>
                            <option value="group">Grupo</option>
                            <option ng-if="$ctrl.login.whoami.id==$ctrl.bookmarkModel.userId" value="private">Privado</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="!$ctrl.bookmarkModel.url">{{$ctrl.model.id ? 'Guardar' : 'Editar'}}</button>
            <a class="btn btn-secondary" ng-click="$ctrl.endAddBookmark()">Cancelar</a>
        </form>
    </div>
</div>
