<div class="comment-section row d-flex justify-content-center" ng-cloak>
    <div ng-if="$ctrl.login.isLoggedIn || $ctrl.commentsList.length > 0" class="col-md-12 col-lg-12 mt-sm-5">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-3">
                <form ng-cloak ng-if="$ctrl.login.isLoggedIn" ng-submit="$ctrl.postComment(commentsForm)" name="commentsForm" novalidate>
                    <div class="form-outline mb-4">
                        <input type="text" id="addANote" class="form-control" placeholder="Comenta..." ng-model="$ctrl.commentModel.content" />
                        <!--<button type="submit" class="btn btn-primary">Comentar</button>-->
                        <!--<label class="form-label" for="addANote">+ Add a note</label>-->
                    </div>
                </form>

                <div ng-show="$ctrl.commentsList.length > 0" class="card mb-2 animate-repeat" ng-repeat="comment in $ctrl.commentsList | orderBy:'$index':true track by comment.id">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto my-auto">
                                <a ng-href="/profile/{{comment.user.id}}">
                                    <avatar-image avatar-class="rounded-circle" avatar="comment.user.avatar" alt="avatar" width="42"
                                                                                                                          height="42"></avatar-image>
                                </a>
                            </div>
                            <div class="col">
                                <div ng-cloak ng-if="comment.user">
                                    <div class="small mt-0"><a href="/profile/{{comment.user.id}}">{{ comment.user.name }}</a> escribió el {{ comment.created | date: "d'/'MM, H:mm" }}</div>
                                </div>
                                <p ng-bind-html="comment.trustedContent"></p>
                            </div>
                            <div class="col-sm-auto col-12">
                                <div class="d-flex flex-row align-items-center">
                                    <!--<p class="small text-muted mb-0">Upvote?</p>
                                        <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                        <p class="small text-muted mb-0">3</p>-->
                                        <button type="button" class="text-black btn-close" aria-label="Close" ng-if="comment.editable" ng-click="$ctrl.deleteComment(comment)">x</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
