<div>
    <h4 ng-if="$ctrl.riverTitle&&$ctrl.list.length">{{$ctrl.riverTitle}}</h4>
    <div class="row lh-1 mb-2" ng-repeat="river in $ctrl.list | orderBy:river.created:false">
        <div class="col-auto pe-0">
            <a ng-href="/profile/{{river.user.id}}">
            <avatar-image avatar-class="rounded-circle" avatar="river.user.avatar" title="{{river.user.name}}" width="32"></avatar-image>
            </a>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    {{river.description}}
                    <a ng-href="{{river.url}}">{{river.entity.title||river.entity.name||river.entity.cls}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <small class="text-muted mt-0 align-top">{{river.date|date:'dd/MM HH:mm'}}</small>
                </div>
            </div>


        </div>
    </div>
</div>
