<div class="site-message-form">
    <button class="btn btn-primary opacity-animate" ng-if="!$ctrl.write" ng-click="$ctrl.write=true">Escribir</button>
    <form class="opacity-animate" ng-if="!$ctrl.statusOk&&$ctrl.write" ng-submit="$ctrl.postMessage(myForm)" name="myForm" novalidate>
        <div class="mb-3">
            <label for="sender" class="form-label">Remitente</label>
            <input type="text" class="form-control" name="sender" id="sender" aria-describedby="usernameHelp" placeholder="¿Quién eres?" ng-model="$ctrl.model.sender" required />
            <div class="ng-hide validation-error" ng-cloak ng-if="myForm.sender.$invalid&&myForm.$submitted">
                Quién eres?
            </div>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="usernameHelp" placeholder="Titulo" ng-model="$ctrl.model.title" required />
            <div class="ng-hide validation-error" ng-cloak ng-if="myForm.title.$invalid&&myForm.$submitted">
                Debes introducir un título.
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descripcion</label>
            <textarea class="form-control" name="description" id="description" rows="5" aria-describedby="usernameHelp" placeholder="Descripción" ng-model="$ctrl.model.description" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
        <!--<button ng-click="$event.preventDefault();$ctrl.cancel(myForm)" class="btn btn-secondary">Cancelar</button>-->
    </form>
    <div class="opacity-animate site-message-form-status alert alert-success" ng-if="$ctrl.statusOk">
        <i class="fa fa-check-circle"></i> Tu mensaje ha sido enviado.
    </div>

</div>
