<div class="event-registration-config-form">
    <div class="row">
        <div class="col">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/actividades/">Actividades</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a ng-href="/eventos/{{$ctrl.eventModel.slug}}">{{ $ctrl.eventModel.title }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Configuración de registro.</li>
                </ol>
            </nav>

        </div>
    </div>
    <h4>Configuración de la inscripción</h4>
    <p>Personaliza el texto descriptivo del registro y los datos que pediremos.</p>
    <form class="opacity-animate" ng-if="!$ctrl.statusOk" ng-submit="$ctrl.postMessage(myForm)" name="myForm" novalidate>
        <!--<div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="usernameHelp" placeholder="Por favor rellena los siguientes campos para apuntarte al evento." ng-model="$ctrl.model.title" autofocus />
            </div>-->
            <div class="mb-3 small-editor">
                <label for="description" class="form-label">Descripción</label>
                <rich-editor name="description" id="description" placeholder="Por favor rellena los siguientes campos para apuntarte al evento." ng-model="$ctrl.model.description">
                </rich-editor>
            </div>

            <div class="mb-3 row">
                <div class="col-md-4 col-12">
                    <label for="vis-select" class="form-label">Email:</label>
                    <select id="vis-select" class="browser-default custom-select form-select" ng-model="$ctrl.model.email">
                        <option value="enabled">Opcional</option>
                        <option value="required">Obligatorio</option>
                        <option value="disabled">Deshabilitado</option>
                    </select>
                </div>
                <div class="col-md-4 col-12">
                    <label for="vis-select" class="form-label">Edad:</label>
                    <select id="vis-select" class="browser-default custom-select form-select" ng-model="$ctrl.model.age">
                        <option value="enabled">Opcional</option>
                        <option value="required">Obligatorio</option>
                        <option value="disabled">Deshabilitado</option>
                    </select>
                </div>
                <div class="col-md-4 col-12">
                    <label for="vis-select" class="form-label">Teléfono:</label>
                    <select id="vis-select" class="browser-default custom-select form-select" ng-model="$ctrl.model.phone">
                        <option value="enabled">Opcional</option>
                        <option value="required">Obligatorio</option>
                        <option value="disabled">Deshabilitado</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <button ng-click="$event.preventDefault();$ctrl.cancel(myForm)" class="btn btn-secondary">Cancelar</button>
    </form>
</div>
