<div class="event-registration-form">
    <p><a ng-href="/eventos/{{$ctrl.eventModel.slug}}">Vover al evento</a></p>
    <h4>Inscripción para:</h4>
    <h2 class="mb-0">{{$ctrl.eventModel.title}}</h2>
    <div class="col-form-label text-muted pt-0"><small>
        {{ $ctrl.eventTypes[$ctrl.eventModel.eventType] }},
        {{ $ctrl.eventModel.start | date : "EEEE d 'de' MMMM, H:mm" }}
        <span ng-cloak ng-if="$ctrl.eventModel.startDate != $ctrl.eventModel.endDate">-&gt; {{ $ctrl.eventModel.end | date : "EEEE d 'de' MMMM, H:mm" }}</span>
        <span ng-cloak ng-if="($ctrl.eventModel.startDate == $ctrl.eventModel.endDate) && ($ctrl.eventModel.startTime != $ctrl.eventModel.endTime)">hasta {{ $ctrl.eventModel.end | date : 'H:mm' }}</span>
    </small></div>
    <p ng-if="!$ctrl.eventConfig.trustedDescription">Por favor rellena los siguientes campos para apuntarte al evento.</p>
    <div ng-if="$ctrl.eventConfig.trustedDescription" ng-bind-html="$ctrl.eventConfig.trustedDescription"></div>
    <form class="opacity-animate" ng-if="!$ctrl.statusOk" ng-submit="$ctrl.postMessage(myForm)" name="myForm" novalidate>
        <div class="mb-3">
            <label for="sender" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="sender" id="sender" aria-describedby="usernameHelp" placeholder="¿Quién eres?" ng-model="$ctrl.model.sender" required autofocus />
            <div class="ng-hide validation-error" ng-cloak ng-if="myForm.sender.$invalid&&myForm.$submitted" class="form-text">
                Quién eres?
            </div>
        </div>
        <div class="mb-3" ng-if="$ctrl.eventConfig.email!='disabled'">
            <label for="title" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="usernameHelp" placeholder="Email" ng-model="$ctrl.model.email" ng-required="$ctrl.eventConfig.email=='required'" />
            <span ng-if="myForm.email.$error.email&&myForm.$submitted" class="form-text">Tiene que ser un email válido</span>
        </div>
        <div class="mb-3" ng-if="$ctrl.eventConfig.phone!='disabled'">
            <label for="title" class="form-label">Teléfono</label>
            <input type="text" class="form-control" name="phone" id="phone" aria-describedby="usernameHelp" placeholder="Email" ng-model="$ctrl.model.phone" ng-required="$ctrl.eventConfig.phone=='required'" />
        </div>
        <div class="mb-3" ng-if="$ctrl.eventConfig.age!='disabled'">
            <label for="title" class="form-label">Edad</label>
            <input type="number" class="form-control show-invalid" name="age" id="age" aria-describedby="usernameHelp" placeholder="Edad" ng-model="$ctrl.model.age" min="0" max="150" ng-required="$ctrl.eventConfig.age=='required'" integer />
            <span ng-if="myForm.age.$error.number" class="form-text">Tiene que ser un número!</span>
            <span ng-if="myForm.age.$error.min || myForm.age.$error.max" class="form-text">
                Creo que te has equivocado con la edad</span>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Notas</label>
            <textarea type="text" class="form-control" name="notes" id="notes" aria-describedby="usernameHelp" placeholder="Cosas que debas comentar" ng-model="$ctrl.model.notes"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
        <!--<button ng-click="$event.preventDefault();$ctrl.cancel(myForm)" class="btn btn-secondary">Cancelar</button>-->
    </form>
    <div class="opacity-animate site-message-form-status alert alert-success" ng-if="$ctrl.statusOk">
        <i class="fa fa-check-circle"></i> Tu registro ha sido enviado. Gracias!
        <p><a ng-href="/eventos/{{$ctrl.eventModel.slug}}">Vover al evento</a></p>
    </div>
</div>
