<div class="event-registration-inbox">
    <div class="row">
        <div class="col">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/actividades/">Actividades</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a ng-href="/eventos/{{$ctrl.eventModel.slug}}">{{ $ctrl.eventModel.title }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Inbox</li>
                </ol>
            </nav>

        </div>
    </div>

    <h4>Inscripciones para {{$ctrl.eventModel.title}}</h4>
    <div class="row fw-bold my-3">
        <div class="col-2">
            Fecha
        </div>
        <div class="col-3">
            Remitente
        </div>
        <div class="col-6">
            Email
        </div>
    </div>
    <div ng-repeat="registration in $ctrl.list" class="row game-row" ng-class-odd="'bg-light'" ng-click="registration.expanded=!registration.expanded">
        <div class="col-2 col-form-label">
            {{registration.created | date:'dd/MM HH:mm'}}
        </div>
        <div class="col-3 col-form-label">
            {{registration.sender}}
        </div>
        <div class="col-6 col-form-label">
            {{registration.email}}
        </div>
        <div class="row animate-expand" ng-if="registration.expanded">
            <div class="col-2 col-form-label">
            </div>
            <div class="col-1 col-form-label">
                <span class="fw-bold">Edad:</span> {{registration.age||'-'}}
            </div>
            <div class="col-2 col-form-label">
                <span class="fw-bold">Tel:</span> {{registration.phone||'-'}}
            </div>
            <div class="col-7 col-form-label">
                <span class="fw-bold">Notas:</span> {{registration.notes||'-'}}
            </div>
        </div>

    </div>
    <div class="container mt-3" ng-if="!$ctrl.list.length">
        <div class="d-flex flex-column min-vh-25 justify-content-center align-items-center">
            <div class="alert alert-primary">
                <i class="fa fa-info-circle text-muted me-2"></i> No hay registros.
            </div>
        </div>
    </div>

    <div class="mt-3"><a ng-href="/eventos/{{$ctrl.eventModel.slug}}">Volver al evento</a></div>
    <div class="opacity-animate site-message-form-status alert alert-error" ng-if="$ctrl.statusNok">
        <i class="fa fa-exclamation-circle"></i> Parece que hay un problema!
    </div>
</div>
