<footer class="navbar-light border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                <h5>{{ .Site.Title }}</h5>
                {{ .Site.Params.description }}
            </div>
            <div class="col-12 col-md-3 mb-3">
                <h5>{{ i18n "social" }}</h5>
                <ul class="list-unstyled list-inline">
                    {{- partial "social.html" . -}}
                </ul>
            </div>
            <div class="col-12 col-md-3 mb-3">
                <h5>{{ i18n "site" }}</h5>
                <ul class="list-unstyled">
                    {{ range $index, $element := .Site.Menus.footer }}
                        {{ if .HasChildren }}
                            <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                            {{ range .Children }}
                                <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                            {{ end }}
                        {{ else }}
                            <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="col-12 col-md-3 mb-3">
                {{ partial "i18nlist.html" . }}

                Copyleft &copy; {{ now.Format "2006" }}-2046, {{ range .Site.Author }}{{ . }}{{ end }}, All Rights Reversed<br/>
		<!--{{ i18n "themeby" }} <a href="http://lacartadaurada.org" target="_blank" rel="noopener noreferrer">La Carta Daurada</a>.-->
            </div>
        </div>
    </div>
</footer>
