{{ $allscript_js := slice }}
{{- range .Site.Data.js }}
{{ $allscript_js = $allscript_js | append (resources.Get .) }}
{{- end }}

{{ $appjs := resources.Get "/js/main.js" }}

{{ $allscript := $allscript_js | resources.Concat "/js/vendor.js" | fingerprint "sha512" }}
{{ $appscript := resources.Get "js/main.js" | js.Build "js/app.js" }}
<script src="{{ $allscript.RelPermalink }}" integrity="{{ $allscript.Data.Integrity }}"></script>
<script src="{{ $appscript.RelPermalink }}" integrity="{{ $appscript.Data.Integrity }}"></script>

{{- range .Site.Params.js }}
    {{ $pagescript := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

{{- range .Params.js }}
    {{ $pagescript := resources.Get . | minify | fingerprint "sha512" }}
    <script src="{{ $pagescript.RelPermalink }}" integrity="{{ $pagescript.Data.Integrity }}"></script>
{{- end }}

<script>
// scroll functions
$(window).scroll(function(e) {

    // add/remove class to navbar when scrolling to hide/show
    var scroll = $(window).scrollTop();
    if (scroll >= 150) {
        $('.navbar').addClass("navbar-hide");
    } else {
        $('.navbar').removeClass("navbar-hide");
    }

});
</script>

{{ template "_internal/google_analytics_async.html" . }}

