{{ with .Site.Social.github }}
  <li class="list-inline-item"><a href="https://github.com/{{.}}" target="_blank" rel="noopener noreferrer" title="GitHub" class="fab fa-github fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.gitlab }}
  <li class="list-inline-item"><a href="https://gitlab.com/{{.}}" target="_blank" rel="noopener noreferrer" title="GitLab" class="fab fa-gitlab fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.stackoverflow }}
  <li class="list-inline-item"><a href="https://stackoverflow.com/users/{{.}}" target="_blank" rel="noopener noreferrer" title="Stack Overflow" class="fab fa-stack-overflow fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.bitbucket }}
  <li class="list-inline-item"><a href="https://bitbucket.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Bitbucket" class="fab fa-bitbucket fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.jsfiddle }}
  <li class="list-inline-item"><a href="https://jsfiddle.com/{{.}}" target="_blank" rel="noopener noreferrer" title="JSFiddle" class="fab fa-jsfiddle fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.codepen }}
  <li class="list-inline-item"><a href="https://codepen.io/{{.}}" target="_blank" rel="noopener noreferrer" title="CodePen" class="fab fa-codepen fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.deviantart }}
  <li class="list-inline-item"><a href="https://{{.}}.deviantart.com/" target="_blank" rel="noopener noreferrer" title="DeviantArt" class="fab fa-deviantart fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.flickr }}
  <li class="list-inline-item"><a href="https://flickr.com/photos/{{.}}" target="_blank" rel="noopener noreferrer" title="Flickr" class="fab fa-flickr fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.behance }}
  <li class="list-inline-item"><a href="https://behance.net/{{.}}" target="_blank" rel="noopener noreferrer" title="Behance" class="fab fa-behance fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.dribbble }}
  <li class="list-inline-item"><a href="https://dribbble.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Dribbble" class="fab fa-dribbble fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.wordpress }}
  <li class="list-inline-item"><a href="https://{{.}}.wordpress.com" target="_blank" rel="noopener noreferrer" title="WordPress" class="fab fa-wordpress fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.medium}}
  <li class="list-inline-item"><a href="https://medium.com/@{{.}}" target="_blank" rel="noopener noreferrer" title="Medium" class="fab fa-medium fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.linkedin }}
  <li class="list-inline-item"><a href="https://linkedin.com/in/{{.}}" target="_blank" rel="noopener noreferrer" title="LinkedIn" class="fab fa-linkedin fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.linkedin_company }}
  <li class="list-inline-item"><a href="https://linkedin.com/company/{{.}}" target="_blank" rel="noopener noreferrer" title="LinkedIn Company" class="fab fa-linkedin fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.foursquare }}
  <li class="list-inline-item"><a href="https://foursquare.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Foursquare" class="fab fa-foursquare fa-2x"></a></li>
{{ end  }}

{{ with .Site.Social.xing }}
  <li class="list-inline-item"><a href="https://xing.com/profile/{{.}}" target="_blank" rel="noopener noreferrer" title="Xing" class="fab fa-xing fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.slideshare }}
  <li class="list-inline-item"><a href="https://slideshare.net/{{.}}" target="_blank" rel="noopener noreferrer" title="SlideShare" class="fab fa-slideshare fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.facebook }}
  <li class="list-inline-item"><a href="https://facebook.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Facebook" class="fab fa-facebook fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.googleplus }}
  <li class="list-inline-item"><a href="https://plus.google.com/+{{.}}" target="_blank" rel="noopener noreferrer" title="Google+" class="fab fa-google-plus fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.reddit }}
  <li class="list-inline-item"><a href="https://reddit.com/user/{{.}}" target="_blank" rel="noopener noreferrer" title="Reddit" class="fab fa-reddit fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.quora }}
  <li class="list-inline-item"><a href="https://quora.com/profile/{{.}}" target="_blank" rel="noopener noreferrer" title="Quora" class="fab fa-quora fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.youtube }}
  <li class="list-inline-item"><a href="https://youtube.com/{{.}}" target="_blank" rel="noopener noreferrer" title="YouTube" class="fab fa-youtube fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.youtube2 }}
  <li class="list-inline-item"><a href="https://youtube.com/{{.}}" target="_blank" rel="noopener noreferrer" title="YouTube" class="fab fa-youtube fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.vimeo }}
  <li class="list-inline-item"><a href="https://vimeo.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Vimeo" class="fab fa-vimeo fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.whatsapp }}
  <li class="list-inline-item"><a href="https://api.whatsapp.com/send?phone={{.}}" target="_blank" rel="noopener noreferrer" title="WhatsApp" class="fab fa-whatsapp fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.instagram }}
  <li class="list-inline-item"><a href="https://instagram.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Instagram" class="fab fa-instagram fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.tumblr }}
  <li class="list-inline-item"><a href="https://{{.}}.tumblr.com" target="_blank" rel="noopener noreferrer" title="Tumblr" class="fab fa-tumblr fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.twitter }}
  <li class="list-inline-item"><a href="https://twitter.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Twitter" class="fab fa-twitter fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.skype }}
  <li class="list-inline-item"><a href="skype:{{.}}?userinfo" target="_blank" rel="noopener noreferrer" title="Skype" class="fab fa-skype fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.snapchat }}
  <li class="list-inline-item"><a href="https://snapchat.com/add/{{.}}" target="_blank" rel="noopener noreferrer" title="snapchat" class="fab fa-snapchat fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.pinterest }}
  <li class="list-inline-item"><a href="https://pinterest.com/{{.}}" target="_blank" rel="noopener noreferrer" title="Pinterest" class="fab fa-pinterest-p fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.telegram }}
  <li class="list-inline-item"><a href="https://telegram.me/{{.}}" target="_blank" rel="noopener noreferrer" title="telegram" class="fab fa-telegram fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.twitch }}
  <li class="list-inline-item"><a href="https://twitch.tv/{{.}}" target="_blank" rel="noopener noreferrer" title="twitch" class="fab fa-twitch fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.email_xx }}
  <li class="list-inline-item"><a href="mailto:{{.}}" title="Email" class="fas fa-envelope fa-2x"></a></li>
{{ end }}
