<!DOCTYPE html>
<html lang="{{.Site.Language.Lang }}">
    <head>
        <meta charset="utf-8">
	{{ if eq .Params.noseo true }}
	{{ else }}
            {{- partial "seo_schema" . -}}
	{{ end }}
	{{ if .Params.pagetitle }}
        <title>{{ block "pagetitle" . }}{{ .Params.pagetitle }}{{ end }}</title>
	{{ else }}
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
	{{ end }}
        {{- partial "head.html" . -}}
    </head>
    <body class="d-flex flex-column min-vh-100" ng-app="myApp">
        {{- partial "header.html" . -}}
	{{ if .IsHome }}
            {{- partial "site-splash.html" . -}}
            {{- partial "site-main.html" . -}}
	{{ else }}
            {{- partial "page-splash.html" . -}}
	{{ end }}
        <main role="main">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
        {{- partial "js.html" . -}}
    </body>
</html>
