<div class="accounting-form">
    <h2>{{$ctrl.model.id ? 'Editar' : 'Añadir'}} apunte</h2>
    <form class="opacity-animate" ng-if="!$ctrl.statusOk" ng-submit="$ctrl.post(myForm)" name="myForm" novalidate>
        <div class="row mb-3">
            <div class="col-4">
                <label for="title" class="form-label">Concepto</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="usernameHelp" placeholder="Concepto" ng-model="$ctrl.model.title" required autofocus />
                <div class="ng-hide validation-error" ng-cloak ng-if="myForm.title.$invalid&&myForm.$submitted" class="form-text">
                    El título es obligatorio.
                </div>
            </div>

            <div class="col-2">
                <label for="amount" class="form-label">Cantidad</label>
                <input type="number" class="form-control show-invalid" ng-class="{'ng-invalid': myForm.$submitted&&(!$ctrl.model.amount)}" name="amount" id="amount" aria-describedby="usernameHelp" placeholder="0.0" ng-model="$ctrl.model.amount" min="-5000.0" max="+5000.0" />
                <span ng-if="myForm.amount.$error.number" class="form-text">Tiene que ser un número!</span>
                <span class="form-text">
                    Negativo para gastos</span>
            </div>
            <div class="col-2">
                <label for="vis-select" class="form-label">Tipo:</label>
                <select id="vis-select" class="browser-default custom-select form-select" ng-model="$ctrl.model.type">
                    <option value="generic">Genérico</option>
                    <option value="consumables">Consumibles</option>
                    <option value="member_fees">Cuotas</option>
                    <option value="donation">Donación</option>
                    <option value="event_expense">Gasto de evento</option>
                    <option value="event_income">Ganancias de evento</option>
                    <option value="coinpot">Hucha</option>
                    <option value="place">Local</option>
                    <option ng-if="$ctrl.model.type=='deleted'" value="deleted">Apunte eliminado</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <div class="mb-3">
                    <label for="bill-date" class="form-label">Factura</label>
                    <tempus-dominus class="form-control" id="bill-date" placeholder="01/11/2023" name="bill-date" ng-model="$ctrl.model.billDate" link-end="#payment-date" required></tempus-dominus>
                </div>

            </div>

            <div class="col-6">
                <div class="mb-3">
                    <label for="payment-date" class="form-label">Pago</label>
                    <tempus-dominus class="form-control" id="payment-date" placeholder="01/11/2023" name="payment-date" ng-model="$ctrl.model.paymentDate" required></tempus-dominus>
                </div>

            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="paid-by" class="form-label">Pagado por</label>
                    <input class="form-control" list="datalistOptions" name="paid-by" id="paid-by" placeholder="" ng-model="$ctrl.model.paidBy">
                    <datalist id="datalistOptions">
                        <option ng-repeat="(key, element) in $ctrl.memberFees" value="{{element.paidBy}}"></option>
                    </datalist>
                </div>

            </div>

            <div class="col-6">
                <div class="mb-3">
                    <label for="paid-to" class="form-label">Pagado a</label>
                    <input class="form-control" list="datalistOptions" name="paid-to" id="paid-to" placeholder="" ng-model="$ctrl.model.paidTo">
                    <datalist id="datalistOptions">
                        <option ng-repeat="(key, element) in $ctrl.memberFees" value="{{element.paidTo}}"></option>
                    </datalist>
                </div>

            </div>

        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea type="text" class="form-control" name="description" id="description" aria-describedby="usernameHelp" placeholder="Cosas que debas comentar" ng-model="$ctrl.model.description"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button ng-click="$event.preventDefault();$ctrl.onCancel(form)" class="btn btn-secondary">Cancelar</button>
        </div>
    </form>
    <div class="opacity-animate site-message-form-status alert alert-success" ng-if="$ctrl.statusOk">
        <i class="fa fa-check-circle"></i> Tu registro ha sido enviado. Gracias!
        <button class="btn btn-link" ng-click="$ctrl.statusOk = ''">Vover a enviar</a></button>
    </div>
    <div class="opacity-animate site-message-form-status alert alert-danger" ng-if="$ctrl.statusNok">
        <i class="fa fa-exclamation-circle"></i> {{$ctrl.statusNok}}
    </div>
</div>
