<div class="accounting-form">
    <h2>Añadir cuota</h2>
    <form class="opacity-animate" ng-if="!$ctrl.statusOk" ng-submit="$ctrl.postFee(myForm)" name="myForm" novalidate>
        <div class="row mb-3">
            <div class="col-auto">
                <label for="paid-by" class="form-label">Pagado por</label>
                <input class="form-control" list="datalistOptions" name="paid-by" id="paid-by" placeholder="" ng-model="$ctrl.model.paidBy" required autofocus>
                <datalist id="datalistOptions">
                    <option ng-repeat="(key, element) in $ctrl.memberFees" value="{{element.paidBy}}"></option>
                </datalist>
            </div>
            <div ng-repeat="username in $ctrl.members" value="{{username}}">{{username}}</div>
            <div class="col-auto">
                <label for="months" class="form-label">Meses</label>
                <input type="number" class="form-control" name="months" id="months" aria-describedby="usernameHelp" placeholder="Meses" ng-model="$ctrl.model.months" min="0" integer required></input>
            </div>
            <div class="col-auto">
                <label for="paid-to" class="form-label">Pagado a</label>
                <input class="form-control" list="datalistOptions" name="paid-to" id="paid-to" placeholder="" ng-model="$ctrl.model.paidTo" required autofocus>
                <datalist id="datalistOptions">
                    <option ng-repeat="(key, element) in $ctrl.memberFees" value="{{element.paidTo}}"></option>
                </datalist>
            </div>
            <div class="mb-3 mt-3">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button ng-click="$event.preventDefault();$ctrl.onCancel(form)" class="btn btn-secondary">Cancelar</button>
            </div>
    </form>
    <div class="opacity-animate site-message-form-status alert alert-danger" ng-if="$ctrl.statusNok">
        <i class="fa fa-exclamation-circle"></i> {{$ctrl.statusNok}}
    </div>
        </div>

