<div ng-if="$ctrl.action=='edit'" class="animate-enter-fast">
    <accounting-form edit-model="$ctrl.editModel" on-create="$ctrl.onCreate(record)" on-cancel="$ctrl.onCancelEdit()" member-fees="$ctrl.memberFees" focus="#title"></accounting-form>
</div>
<div ng-if="$ctrl.action=='edit-fee'" class="animate-enter-fast">
    <accounting-fee-form edit-model="$ctrl.editModel" on-create="$ctrl.onCreate(record, last)" on-cancel="$ctrl.onCancelEdit()" member-fees="$ctrl.memberFees" focus="#paid-by"></accounting-fee-form>
</div>
<div ng-if="$ctrl.action=='list'" class="mt-3">
    <form name="searchForm">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search text-muted"></i></span>
            <input type="text" class="form-control" ng-change="$ctrl.filterChange()" ng-model="$ctrl.filter.text" aria-label="Username" aria-describedby="basic-addon1"></input>
            <button class="input-group-text dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{$ctrl.filter.type ? $ctrl.accountingTypes[$ctrl.filter.type] : 'Todos'}}</button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" ng-click="$ctrl.setFilterType('all', $event)">Todos</a></li>
                <li><a class="dropdown-item" href="#" ng-click="$ctrl.setFilterType('member_fees', $event)">Cuotas</a></li>
                <li><a class="dropdown-item" href="#" ng-click="$ctrl.setFilterType('consumables', $event)">Consumibles</a></li>
                <li><a class="dropdown-item" href="#" ng-click="$ctrl.setFilterType('coinpot', $event)">Hucha</a></li>
                <li><a class="dropdown-item" href="#" ng-click="$ctrl.setFilterType('place', $event)">Local</a></li>
                <li><a class="dropdown-item" href="#" ng-click="$ctrl.setFilterType('event_expense', $event)">Gasto evento</a></li>
                <li><a class="dropdown-item" href="#" ng-click="$ctrl.setFilterType('event_income', $event)">Ganancia evento</a></li>
            </ul>
        </div>
    </form>

    <div class="row fw-bold my-3">
        <div class="col-md-2 col-3">
            Fecha
        </div>
        <div class="col-md-3 col-5">
            Concepto
        </div>
        <div class="col-md-1 col-4">
            Cantidad
        </div>
        <div class="col-1 d-none d-sm-block">
            De
        </div>
        <div class="col-1 d-none d-sm-block">
            A
        </div>
        <div class="col-2 d-none d-sm-block">
            Tipo
        </div>

    </div>
    <div class="container mt-3" ng-if="!$ctrl.filteredList.length">
        <div class="d-flex flex-column min-vh-25 justify-content-center align-items-center">
            <div class="alert alert-primary">
                <i class="fa fa-info-circle text-muted me-2"></i> No se encontraron registros con estos filtros.
            </div>
        </div>
    </div>
    <div id="registration-{{registration.id}}" ng-if="registration.type != 'deleted' && $ctrl.checkFilter(registration)" ng-repeat="registration in $ctrl.filteredList | orderBy:$ctrl.sortRecord:true | startFrom:$ctrl.pagination.currentPage*$ctrl.pagination.pageSize | limitTo:$ctrl.pagination.pageSize" class="with-tools row game-row animate-leave" ng-class-odd="'bg-odd'" ng-class-even="'bg-even'">
        <div class="col-md-2 col-3 col-form-label" ng-click="$ctrl.expand(registration)">
            {{registration.paymentDate | date:'dd/MM'}}
        </div>
        <div class="col-md-3 col-5 col-form-label" ng-click="$ctrl.expand(registration)">
            {{registration.title}}
        </div>
        <div class="col-md-1 col-4 col-form-label" ng-class="{'text-danger': registration.amount&lt;0}" ng-click="$ctrl.expand(registration)">
            {{registration.amount}}
        </div>
        <div class="col-1 col-form-label d-none d-sm-block" ng-click="$ctrl.expand(registration)">
            {{registration.paidBy||'-'}}
        </div>
        <div class="col-1 col-form-label d-none d-sm-block" ng-click="$ctrl.expand(registration)">
            {{registration.paidTo||'-'}}
        </div>
        <div class="col-2 col-form-label d-none d-sm-block" ng-click="$ctrl.expand(registration)">
            {{$ctrl.accountingTypes[registration.type]}}
        </div>
        <div ng-if="registration.editable" ng-class="{'force-show': registration.expanded}" class="col-auto with-tools-tools">
            <button class="btn btn-link fa-hover" ng-click="$ctrl.editRegistration(registration)"><i class="fa fa-edit"></i></button>
            <button class="btn btn-link fa-hover" ng-click="$ctrl.deleteRegistration(registration)"><i class="fa fa-times"></i></button>
        </div>

        <div class="row animate-expand" ng-if="registration.expanded" ng-click="$ctrl.expand(registration)">
            <div class="col-2 d-none d-sm-block">
            </div>
            <div class="col-sm-2 col-12 col-form-label">
                <span class="fw-bold">Facturado:</span> {{registration.billDate | date:'dd/MM'}}
            </div>
            <div class="col-sm-7 col-12 col-form-label">
                <span class="fw-bold">Descripción:</span> {{registration.description||'-'}}
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col">
            <nav aria-label="Totales">
                <ul class="pagination text-black">
                    <li class="page-item page-link">Total:</li>
                    <li class="page-item page-link">{{$ctrl.totals.amount}} €</li>
                </ul>
            </nav>
        </div>
        <div class="col-auto me-5">
            <pagination list="$ctrl.filteredList" pagination="$ctrl.pagination"></pagination>
        </div>
    </div>

    <div class="opacity-animate site-message-form-status alert alert-error" ng-if="$ctrl.statusNok">
        <i class="fa fa-alert"></i> Parece que hay un problema!
    </div>
</div>
