<div class="accounting-inbox">
    <div class="row">
        <div class="col-12 col-md">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a href="/trastienda/">La Carta Daurada</a></li>
                    <li class="breadcrumb-item active" ng-if="!['edit', 'edit-fee'].includes($ctrl.action)" aria-current="page">Tesorería</li>
                    <li class="breadcrumb-item" ng-if="['edit', 'edit-fee'].includes($ctrl.action)" aria-current="page"><a href="#" ng-click="$event.preventDefault();$ctrl.action='list'">Tesorería</a></li>
                    <li class="breadcrumb-item active" ng-if="$ctrl.action=='edit'" aria-current="page">Apunte</li>
                    <li class="breadcrumb-item active" ng-if="$ctrl.action=='edit-fee'" aria-current="page">Cuota</li>
                </ol>
            </nav>
        </div>
        <h2 ng-if="!['edit', 'edit-fee'].includes($ctrl.action)" class="d-block d-sm-none col-6">Tesorería</h2>
        <div class="col-6 col-sm-auto d-none d-sm-block">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Apuntes</span>
                <span class="input-group-text bg-white" id="basic-addon1">{{$ctrl.list.length}}</span>
            </div>
        </div>
        <div class="col-6 col-sm-auto">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">€</span>
                <span class="input-group-text bg-white" id="basic-addon1">{{$ctrl.totals.amount}}</span>
            </div>
        </div>
        <div ng-if="$ctrl.action=='list'" class="col-6 col-sm-auto my-2 my-sm-0">
            <button class="btn btn-primary form-control" ng-click="$ctrl.action='edit'"><i class="fa fa-plus"></i> Apunte</button>
        </div>
        <div ng-if="$ctrl.action=='list'" class="col-6 col-sm-auto my-2 my-sm-0">
            <button class="btn btn-primary form-control" ng-click="$ctrl.action='edit-fee'"><i class="fa fa-plus"></i> Cuota</button>
        </div>
    </div>

    <modal id="confirmModal"></modal>
    <h2 ng-if="!['edit', 'edit-fee'].includes($ctrl.action)" class="d-none d-sm-block">Tesorería</h2>

    <ul class="nav nav-tabs mb-3" ng-if="!['edit', 'edit-fee'].includes($ctrl.action)">
        <li class="nav-item">
            <a class="nav-link" href="#" ng-class="{active: $ctrl.section == 'general'}" ng-click="$event.preventDefault();$ctrl.section='general'" aria-current="page">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" ng-class="{active: $ctrl.section == 'records'}" ng-click="$event.preventDefault();$ctrl.section='records'">Apuntes</a>
        </li>
    </ul>

    <div ng-show="$ctrl.section == 'records' || ['edit', 'edit-fee'].includes($ctrl.action)" class="mb-3">
        <accounting-list action="$ctrl.action" list="$ctrl.list" update-totals="$ctrl.updateTotals()" member-fees="$ctrl.memberFees"></accounting-list>
    </div>

    <div ng-show="$ctrl.section == 'general' && !['edit', 'edit-fee'].includes($ctrl.action)" class="mb-3 mx-md-5">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2 col-form-label fw-bold" ng-click="$ctrl.setSortBy('title')">
               Nombre <i class="text-secondary fa" ng-class="{'fa-sort-alpha-down': $ctrl.filters.sortBy=='title'&&!$ctrl.filters.reversed, 'fa-sort-alpha-up': $ctrl.filters.sortBy=='title'&&$ctrl.filters.reversed}"></i>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 col-form-label fw-bold" ng-click="$ctrl.setSortBy('billDate')">
                Último pago <i class="text-secondary fa" ng-class="{'fa-sort-amount-down': $ctrl.filters.sortBy=='billDate'&&!$ctrl.filters.reversed, 'fa-sort-amount-up': $ctrl.filters.sortBy=='billDate'&&$ctrl.filters.reversed}"></i>
            </div>
        </div>
        <div ng-repeat="record in $ctrl.memberFees | orderBy:$ctrl.sortRecord:$ctrl.filters.reversed" class="row" ng-class-odd="'bg-odd'">
            <div class="col-6 col-sm-4 col-lg-2 col-form-label">
                {{record.paidBy}}
            </div>
            <div class="col-6 col-sm-4 col-lg-2 col-form-label">
                {{record.billDate | date:'MMMM'}}
            </div>
        </div>
    </div>

    <div class="opacity-animate site-message-form-status alert alert-error" ng-if="$ctrl.statusNok">
        <i class="fa fa-alert"></i> Parece que hay un problema!
    </div>
</div>
