<div class="addevent-section">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/actividades/">Actividades</a></li>
                    <li ng-if="eventModel.id" class="breadcrumb-item" aria-current="page"><a href="/eventos/{{eventModel.slug}}">{{origModel.title}}</a></li>
                    <li ng-if="eventModel.id" class="breadcrumb-item" aria-current="page">Editar</li>
                    <li ng-if="!eventModel.id" class="breadcrumb-item active" aria-current="page">Crear</li>
                </ol>
            </nav>
        </div>
    </div>

    <modal id="confirmModal"></modal>
    <h1 class="card-title">{{ actionTitle }}</h1>
    <div>
        <form ng-submit="saveResource(form)" name="form" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Titulo</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="usernameHelp" placeholder="Titulo" ng-model="eventModel.title" required autofocus />
                <div class="ng-hide validation-error" ng-cloak ng-if="form.title.$invalid&&form.$submitted">
                    Debes introducir un título para el evento.
                </div>
            </div>
            <div class="mb-3">
                <label for="pickerStart" class="form-label">Fecha</label>
                <div class="xinput-daterange xxrow input-group" id="datepicker">
                    <tempus-dominus class="form-control" id="date-start" link-end="#date-end" placeholder="01/11/2023" name="start" ng-model="eventModel.startDate" required></tempus-dominus>
                    <span class="input-group-text">hasta</span>
                    <tempus-dominus class="form-control" id="date-end" placeholder="01/11/2023" name="end" ng-model="eventModel.endDate"></tempus-dominus>
                </div>
            </div>
            <div class="mb-3">
                <label for="pickerStart" class="form-label">Hora</label>
                <div class="xinput-daterange xxrow input-group">
                    <tempus-dominus class="form-control" placeholder="16:00" name="timeStart" view="time" ng-model="eventModel.startTime"></tempus-dominus>
                    <span class="input-group-text">hasta</span>
                    <tempus-dominus class="form-control" placeholder="20:00" name="timeEnd" view="time" ng-model="eventModel.endTime"></tempus-dominus>
                </div>
            </div>
            <div class="row mb-3">
                <label for="evtype-select" class="col-sm-auto col-12 col-form-label">Tipo de evento:</label>
                <div class="col-sm-4">
                    <select id="evtype-select" class="browser-default custom-select form-select" ng-model="eventModel.eventType">
                        <option value="single">Partida</option>
                        <option value="league">Liga</option>
                        <option value="tournament">Torneo</option>
                        <option value="event">Evento</option>
                        <option value="social">Evento social</option>
                        <option value="presentation">Presentación</option>
                    </select>
                </div>
                <label for="vis-select" class="col-sm-auto col-12 col-form-label">Visibilidad:</label>
                <div class="col-sm-4">
                    <select id="vis-Select" class="browser-default custom-select form-select" ng-model="eventModel.visibility">
                        <option value="public">Publico</option>
                        <option value="members">Miembros</option>
                        <option value="group">Grupo</option>
                        <option ng-if="login.whoami.id==eventModel.userId" value="private">Privado</option>
                    </select>
                </div>
            </div>

            <details ng-open="eventModel.description || eventModel.registration || eventModel.permissions != 'user'">
                <summary>Opciones avanzadas</summary>
                <div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descripcion</label>
                        <rich-editor placeholder="Descripcion" ng-model="eventModel.description">
                        </rich-editor>

                    </div>
                    <div class="row mb-3">
                        <label for="registration-status" class="col-sm-2 col-form-label">Registro</label>
                        <div class="col-sm-10">
                            <select id="registration-status" class="browser-default custom-select form-select" ng-model="eventModel.registration">
                                <option value="disabled">Deshabilitado</option>
                                <option value="open">Abierto</option>
                                <option value="closed">Cerrado</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="perms-select" class="col-sm-2 col-form-label">Editable por otros</label>
                        <div class="col-sm-10">
                            <select id="perms-select" class="browser-default custom-select form-select" ng-model="eventModel.permissions">
                                <option value="user">No editable</option>
                                <option value="group">editable</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="colorPicker" class="col-sm-2 form-label">Color</label>
                        <div class="col-sm-10">
                            <input type="color" class="form-control form-control-color" id="colorPicker" value="{{eventModel.color}}" ng-model="eventModel.color" />
                        </div>
                    </div>
                </div>
            </details>
            <br />
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a ng-click="$event.preventDefault();cancelEdit()" class="btn btn-secondary">Cancelar</a>
        </form>
        <div ng-bind="whoami.username"></div>
        <div ng-bind="status"></div>
    </div>

</div>
