<div ng-controller="AnnotationController">
    <div class="row">
        <div class="col">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li id="activities-node" class="breadcrumb-item"><a href="/actividades/">Actividades</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{eventModel.title}}</li>
                </ol>
            </nav>

        </div>
        <div class="col-auto d-none d-md-block" ng-if="login.isLoggedIn&&eventModel.editable">
            <entity-popmenu class="mb-3" on-edit="editEvent()" on-edit-avatar="editAvatar()" on-delete="deleteEvent(model)" model="eventModel">
                <li ng-if="eventModel.editable&&eventModel.registration=='open'"><button ng-click="openRegistrations()" class="dropdown-item" type="button"><i class="fa fa-fw fa-users"></i> Inscripciones</button></li>
                <li ng-if="eventModel.editable&&eventModel.registration!='disabled'"><button ng-click="openRegistrationConfig()" class="dropdown-item" type="button"><i class="fa fa-fw fa-users"></i> Configuración de inscripción</button></li>
            </entity-popmenu>
        </div>

    </div>

    <modal id="confirmModal"></modal>
    <modal id="qrModal">
    <div class="d-flex justify-content-center">
        <qr-code class="m-5" width="256" height="256" qr-url="{{qrCodeUrl}}"></qr-code>
    </div>
    <div class="d-flex justify-content-center">
        <p ng-if="vcsUrl"><a target="_blank" ng-href="{{vcsUrl}}">o descarga un .ical</a></p>
    </div>
    </modal>

    <div class="row" ng-cloak ng-if="eventModel.id">
        <div class="col-md-8 col-12">
            <div class="row">
                <h1 class="d-sm-none d-block card-title">{{ eventModel.title }}<privacy-icons class="align-bottom mb-2 ms-1" permissions="{{eventModel.permissions}}" visibility="{{eventModel.visibility}}"></privacy-icons></h1>
                <div class="col-auto" ng-if="eventModel.avatar">
                    <div ng-click="showCover()">
                        <avatar-image avatar-class="rounded" avatar="eventModel.avatar" width="128"></avatar-image>
                    </div>
                    <img-modal class="cover-modal" id="coverModal" data-bs-theme="dark" hide-header="true" hide-footer="true" data-bs-backdrop="true" close-on-body="true">
                        <img class="cover-modal-img rounded shadow-1-strong" ng-src="{{'/media/'+eventModel.avatar.split('/')[3]}}"></img>
                    </img-modal>
                </div>

                <div class="col">
                    <h1 class="d-none d-sm-block card-title mb-0">{{ eventModel.title }}<privacy-icons class="align-bottom mb-2 ms-1" permissions="{{eventModel.permissions}}" visibility="{{eventModel.visibility}}"></privacy-icons></h1>
                    <small ng-if="login.isLoggedIn" class="ms-2">creado por <a title="{{eventModel.user.name}}" href="/profile/{{eventModel.user.id}}"><avatar-image avatar-class="rounded-circle" avatar="eventModel.user.avatar" width="24"></avatar-image></a></small>
                    <div class="mt-3 col-form-label">{{ eventTypes[eventModel.eventType] }} en <a ng-href="{{venues[eventModel.venueId].url}}">{{ venues[eventModel.venueId].title }}</a></div>
                    <div class="d-none d-sm-block col-form-label">{{ eventModel.rawStartDate | date : "EEEE d 'de' MMMM, H:mm" }}
                        <span ng-cloak ng-if="eventModel.startDate != eventModel.endDate">-&gt; {{ eventModel.rawEndDate | date : "EEEE d 'de' MMMM, H:mm" }}</span>
                        <span ng-cloak ng-if="(eventModel.startDate == eventModel.endDate) && (eventModel.startTime != eventModel.endTime)">hasta {{ eventModel.rawEndDate | date : 'H:mm' }}</span>
                    </div>
                </div>
            </div>
            <div class="d-sm-none d-block col-form-label mt-2">{{ eventModel.rawStartDate | date : "EEEE d 'de' MMMM, H:mm" }}
                <span ng-cloak ng-if="eventModel.startDate != eventModel.endDate">-&gt; {{ eventModel.rawEndDate | date : "EEEE d 'de' MMMM, H:mm" }}</span>
                <span ng-cloak ng-if="(eventModel.startDate == eventModel.endDate) && (eventModel.startTime != eventModel.endTime)">hasta {{ eventModel.rawEndDate | date : 'H:mm' }}</span>
            </div>

            <br ng-if="trustedHtml">

            <div class="mb-3">
                <span ng-bind-html="trustedHtml"></span>
            </div>

            <div ng-if="eventModel.registration=='open'">
                <a class="btn btn-primary" href="/eventos/{{eventModel.slug}}/registro"><i class="fa fa-hand-point-right"></i> Inscribirse</a>
            </div>

            <div class="row justify-content-end d-flex d-md-none mb-3" ng-if="login.isLoggedIn && eventModel.editable">
                <div class="col-auto">
                    <entity-popmenu class="mb-3" on-edit="editEvent()" on-edit-avatar="editAvatar()" on-delete="deleteEvent(model)" model="eventModel">
                        <li ng-if="eventModel.editable&&eventModel.registration=='open'"><button ng-click="openRegistrations()" class="dropdown-item" type="button"><i class="fa fa-fw fa-users"></i> Inscripciones</button></li>
                        <li ng-if="eventModel.editable&&eventModel.registration!='disabled'"><button ng-click="openRegistrationConfig()" class="dropdown-item" type="button"><i class="fa fa-fw fa-users"></i> Configuración de inscripción</button></li>
                    </entity-popmenu>
                </div>
            </div>
            <div class="row justify-content-end d-md-none">
                <div class="col-auto">
                    <annotation-controls actions="going" on-click="toggleAnnotation(action)" annotation-list="annotationList"></annotation-controls>
                    <button title="Mostrar QR" class="btn btn-link" ng-click="showQr()"><i class="fs-5 fas fa-qrcode pt-1"></i></button>
                </div>
            </div>

            <comments model-type="event" main-model="eventModel" login="login" class="mb-3"></comments>
        </div>
        <div class="col-md-4 col-12">
            <div class="row justify-content-end d-none d-md-flex" ng-if="login.isLoggedIn">
                <div class="col-auto">
                    <annotation-controls actions="going" on-click="toggleAnnotation(action)" annotation-list="annotationList"></annotation-controls>
                    <button title="Mostrar QR" class="btn btn-link" ng-click="showQr()"><i class="fs-5 fas fa-qrcode pt-1"></i></button>
                </div>
            </div>

            <bookmarks model-type="event" schema="schema" main-model="eventModel" login="login"></bookmarks>
            <attachments model-type="event" schema="schema" main-model="eventModel" login="login"></attachments>
            <div ng-if="annotations.length&gt;0" class="mt-3">
                <h4>Asistentes</h4>
                <hr>
                <div class="row justify-content-left">
                    <div title="{{annotation.user.name}}" ng-repeat="annotation in annotations" ng-click="viewProfile(annotation.user)" class="annotation-avatar-list">
                        <avatar-image avatar-class="rounded-circle" avatar="annotation.user.avatar" title="{{annotation.user.name}}" width="32"></avatar-image>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
