/* Cropper styles */

.cropper-image {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.cropper-preview {
  overflow: hidden;
  width: 100px;
  height: 100px;
}


.cropper-line {
  background-color: #fff;
}

.cropper-point {
  /*background-color: #39f;*/
  background-color: #fff;
  opacity: .75;

  /*border-width: 1px;
  border-color: #FFF;
  border-style: solid;
  border-radius: 100%;*/
}

.cropper-point.point-ne, .cropper-point.point-sw, .cropper-point.point-se, .cropper-point.point-nw {
  height: 10px;
  width: 10px;
}

.point-e, .point-w, .point-n, .point-s {
  opacity: 0;
}

.cropper-container {
  background-color: #000;
}

.cropper-modal {
  background-color: #000;
  opacity: .3;
}

.cropper-view-box {
  outline: 1px solid #fff;
  outline-color: rgba(255,255,255,.75);
}

/*.cropper-view-box {
  display: block;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51,153,255,.75);
  overflow: hidden;
  width: 100%;
}

.cropper-dashed {
  border: 0 dashed #eee;
    border-right-width: 0px;
    border-left-width: 0px;
  display: block;
  opacity: .5;
  position: absolute;
}*/
.cropper-dashed {
  transition: 0.5s linear all;
  opacity: 0.0;
}

.cropper-container:hover .cropper-dashed {
  opacity: .5;
}


/* Cropper dropper */

.cropper-dropper-container {
/*  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;*/
  max-height: 80%;
  background-color: #000;
}

.cropper-dropper-button {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9999;
}
