body {
  padding-top: 56px;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.bg-primary {
 background-color: #c1a971 !important;
}

@media (min-width: 576px) {
  .top-margin {
    margin-top: 60px;
  }
  .align-items-center-md {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .mb-md-5 {
    margin-bottom: 3rem !important;
  }
  .pb-md-5 {
    padding-bottom: 3rem!important;
  }
}

.page-torneos td, .page-torneos th {
  padding-left: 2em;
  padding-top: 0.2em;
}

.card-title > a {
  color: #333333;
}

.card h3 {
  color: #8d6a19;
}
.card h4 {
  color: #bd9a49;
}

@media (max-width: 1000px) {
  .game-icons {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .lacarta-logo {
    height: 64px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .lacarta-logo {
    height: 128px;
  }
}


.logo-game-icons {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-image: url('/images/iconos-juegos-white.png');
  width: 600px;
  height: 64px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.logo-container {
  overflow-x: hidden;
}

.card-highlight.card {
  box-shadow: 0 5px 15px rgba(145,92,182,.4);
}
.page-container > .card {
  box-shadow: 0 5px 15px rgba(145,92,182,.4);
  min-height: 300px;
}
.page-container > .card-body {
  padding-bottom: 3em;
}

.know-more {
  /*position: absolute;*/
  /*bottom: 1.5em;*/
}

form.ng-submitted .ng-invalid {
  border-color: red;
}

form.ng-submitted .ng-invalid:focus {
  box-shadow: 0 0 0 .2rem rgba(255,0,0,.25);
}

.show-invalid.ng-invalid {
  /*border-color: ;*/
  box-shadow: 0 0 0 .2rem rgba(255,0,0,.40);
}

.validation-error {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.logout {
  color: white;
  float: right;
}

/*#calendar {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 10px;
}*/

.page-container {
  padding-right: 3em;
  padding-left: 3em;
}

@media (min-width: 577px) and (max-width: 768px) {
  .page-container {
    padding-right: 0em;
    padding-left: 0em;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .page-container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

/* Navbar hide on scroll */
.navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

/*
.navbar .navbar-toggler {
  position: absolute;
  right: 0%;
  margin-right: 1rem;
  top: 0%;
  margin-top: 0.8rem;
}*/

/* Text editor and comments */
.link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; }

.comment-section .trumbowyg-box,
.comment-section .trumbowyg-editor,
.addevent-section .trumbowyg-box,
.addevent-section .trumbowyg-editor {
    min-height: unset!important;
}

.comment-section .trumbowyg-editor,
.comment-section .trumbowyg-textarea,
.addevent-section .trumbowyg-editor,
.addevent-section .trumbowyg-textarea {
    min-height: 100px!important;
    resize: vertical!important;
}

.small-editor .trumbowyg-box {
    min-height: unset!important;
}
.small-editor .trumbowyg-editor {
    min-height: 100px!important;
    resize: vertical!important;
}

.comment-section .card-body {
    padding-bottom: 0.1em;
    padding-top: 0.3em;
}

/* Datetime picker */

@media (max-width: 622px) and (min-width: 1px) {
  .bootstrap-datetimepicker-widget .timepicker-sbs {
    width:90% !important;
    margin:0px !important;
    padding:0px !important;
  }
  .bootstrap-datetimepicker-widget .datepicker {
    float: none !important;
  }
  .bootstrap-datetimepicker-widget {
    width:90% !important;
    top: 200px !important;
    position: fixed !important;
  }
  .bootstrap-datetimepicker-widget.dropdown-menu::before {
    content: none !important;
    display: none !important;
  }

}

/* Calendar */

.fc-view-harness a:not([href]) {
	color: inherit;
	text-decoration: inherit;
}

.fc-event {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}
/*.fc-event-main {
  filter: brightness(85%);
}*/

.fc-dayGridMonth-view .fc-event-main {
  white-space: normal !important;
}

.fc-multimonth-daygrid .fc-event-main {
  overflow: hidden;
  text-overflow: ellipsis;
}


.fc-multimonth-daygrid .calendar-event-hour {
  display: none;
}

@media (max-width: 576px) {
  .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
    flex-direction: column;
  }
  .calendar-event-hour {
    display: none;
  }
}
/*
@media (max-width: 576px) {
  .calendar-event-hour {
    display: none;
  }
  .fc .fc-button.fc-today-button {
    display: none !important;
  }
}*/


/* Buttons */
.btn-primary {
  background-color: #b33131;
  border-color: #a0191a;
}

/*.btn-primary {
  background-color: #bd9a49;
  border-color: #ddba69;
}*/

.btn-primary:disabled {
  background-color: #766;
  border-color: #ddba69;
}

.btn-primary:hover {
  background-color: #a0191a;
  border-color: #90090a;
}

.btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: #bd6565;
  border-color: #90090a;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .6);
}


.dropdown-toggle-split.btn-primary {
  background-color: #c0494a;
  border-color: #a0191a;
}

.dropdown-toggle-split.btn-primary.show {
  background-color: #a0191a;
  border-color: #a0191a;
}

.btn.btn-secondary.logout-button {
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
  border-color: #6c757d;
}

.btn.btn-secondary.logout-button:hover {
  background-color: #555;
  border-color: #565e64;
}

.btn-secondary {
  background-color: #a17931;
  border-color: #c1a971;
}

.btn-secondary:hover {
  background-color: #c1a971;
  border-color: #c1a971;
}


.dropdown-menu a.dropdown-item, .navbar a {
  text-decoration: none;
}
.dropdown-menu a.dropdown-item, .navbar .btn.btn-link {
  text-decoration: none;
  color: inherit;
}

a.btn.btn-primary:hover, button.btn.btn-primary:hover,
a.btn.btn-secondary:hover, button.btn.btn-secondary:hover {
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

/* Sidebar tools and listings */

.with-tools .with-tools-tools {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease;
}

.with-tools:hover .with-tools-tools {
  z-index: 50;
  opacity: 1;
  overflow: hidden;
}

.with-tools .with-tools-tools.force-show {
  opacity: 1;
}

.with-tools:hover {
  background-color: #FFF;
}

.with-tools .with-tools-tools.fill-background {
  background-color: #FFF;
}

.with-tools-main {
  font-size: 90%;
}

.with-tools .fa-hover {
    transition: color 0.5s ease;
    transition: opacity 0.5s ease;
}

.with-tools .fa-hover {
  color: #555;
}

.with-tools .fa-hover:hover {
  color: #000;
  text-shadow: 0 0px 5px rgba(145, 92, 182, .5);
}

.with-tools .fa-hover:active {
  color: #F00;
  text-shadow: 0 0px 5px rgba(200, 92, 182, .5);
}


/* Custom link styles */

a, .btn-link {
	color: #2d6fd5;
}
.btn.btn-link {
  text-decoration: none;
}
.btn-link:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  text-decoration: underline;
}
.with-tools-main a {
	color: #444;
}

/* Pulse animation */

.pulse-element {
  background-color: white;
  animation-name: pulseanim;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes pulseanim {
  0% {
    background-color: orange;
    /* was :orange */
  }

  100% {
    background-color: white;
  }
}

.pulse-element, .accounting-inbox .pulse-element.bg-even {
  background-color: white;
  animation-name: pulseanim-even;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes pulseanim-even {
  0% {
    background-color: #d5ead2;
    /* was :orange */
  }

  100% {
    background-color: white;
  }
}


.bg-odd {
  background-color: #f8f9fa;
}

.pulse-element, .accounting-inbox .pulse-element.bg-odd {
  background-color: #f8f9fa;
  animation-name: pulseanim-odd;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes pulseanim-odd {
  0% {
    background-color: #d5ead2;
    /* was :orange */
  }

  100% {
    background-color: #f8f9fa;
  }
}


.pulse-opacity, .accounting-inbox .pulse-opacity {
  animation-name: pulseanim-opacity;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes pulseanim-opacity {
  0% {
    opacity: 0;
    /* was :orange */
  }

  100% {
    opacity: 1.0;
    /*background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));*/
  }
}


/* Forms */

@media (min-width: 576px) {
  form .mb-3 .form-help {
	opacity: 0;
  	transition: all linear 0.5s;
  }
  form .mb-3:hover .form-help {
	opacity: 1;
  }
}

.avatar-list:hover {
  background-color: #9AF; 
}

.annotation-list {
  font-size: 70%;
  width: 64px;
  height: 64px;
  border-color: #000;
  margin: 0.3rem;
  cursor: pointer;
}

.annotation-avatar-list {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin: 0.2rem;
}


.game-row:hover, .game-row:hover .game-col-easy, .game-row:hover .game-col-medium, .game-row:hover .game-col-hard {
  background-color: #CDF !important;
  cursor: pointer;
  transition: all ease-out 0.5s;
}

.game-col-easy {
  background-color: #AADCF7;
}
.game-col-medium {
  background-color: #CCF4C6;
}
.game-col-hard {
  background-color: #F9CFB5;
}

.spinner-container {
  min-height: 300px;
}

.annotation-button:active {
  color: #000;
  text-shadow: 0 0 3px #533;
}
.annotation-button {
  color: #FFF;
  text-shadow: 0 0 3px #888;
}
.annotation-button:hover {
  color: #337;
  text-shadow: 0 0 3px #333;
}
.annotation-button.annotated:active {
  color: #000;
  text-shadow: 0 0 3px #966;
}
.annotation-button.annotated {
  /*color: #F77;*/
  color: #333;
}
.annotation-button.annotated:hover {
  color: #F33;
  text-shadow: 0 0 3px #ff0000;
}

.card-footer .footer-item {
  font-size: 90%;
}

.count-arrow:after {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: -10px;
  content:'';
  width: 0;
  height: 0;
  border-top: solid 10px #659EC7;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.count-arrow {
  position:relative;
  background-color:#659EC7;
}

.float-image-container {
  max-width: 500px;
  max-height: 500px;
}

.float-image-container .img-tooltip-100 {
  max-width: 500px;
  max-height: 500px;
}


.dropdown-toggle-user.dropdown-toggle::after {
  content: none;
}

.dropdown-user img {
  transition: 3.0s ease-out box-shadow;
  margin-bottom: -0.8rem;
}

.dropdown-user:hover img {
  box-shadow: 0 0 15px rgba(220,220,220,1.0);
}

@media (max-width: 576px) {
  .dropdown-user {
	display: none;
  }
}

/*
@media (min-width: 577px) {
  .dropdown-user-mobile {
	display: none;
  }
}*/

.dropdown-user .dropdown-menu {
  margin-top: 1.0rem;
}

.navbar-expand-lg .navbar-nav .dropdown-toggle-user.dropdown-toggle {
	padding: 0;
}

.user-menu-area {
  min-width: 32px;
}

/* Image showcase modal */
.cover-modal .modal-content {
  background-color: transparent;
  border: none;
}

.cover-modal.modal {
  background-color: #00000099;
}

.cover-modal .modal-dialog {
  max-width: 100%;
  max-height: 100%;
}

.cover-modal .modal-body {
  flex: unset;
}

img.cover-modal-img {
  max-height: 100%;
  max-width: 100%;
}

.cover-modal .modal-content, .cover-flex-content {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  /*display: inline-flex;*/ /* Magic begins */
  flex-direction: column;
  justify-content: center; /* Center in main axis */
  align-items: center; /* Center in cross  */
}

.has-transition {
  transition: all ease-out 0.5s;
}

.container > .card > .card-body {
  padding: 1.5rem;
}

.form-switch .form-check-input.big-switch {
  scale: 1.5;
  margin-top: 0.7rem;
  margin-left: -2rem;
}

.privacy-icon {
  filter: saturate(0.2);
}

.privacy-icon:hover {
  filter: saturate(1.0);
}
