/*.attachment-section .dropzone-container {*/
.dropzone-container {
  /*border-radius: 2.5rem;*/
  border: 3px solid white;
  background: white;
  width: 21.875rem;
  height: 10.9375rem;
  width: 100%;
  max-width: 21.875rem;
  margin: auto;
  box-shadow: 0 .625rem 1.25rem #0000001a;
}

/*.attachment-section .dropzone {*/
.dropzone {
  width: 100%;
  height: 100%;
  /*border-radius: 2.5rem;*/
  padding: 1rem;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}


