{% extends 'carta.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div ng-controller="NexteventsController">
	<div class="row mb-3">
		<div class="col-md col-12 m-md-0 m-3">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<button ng-class="{active: section=='listing'}" class="nav-link" aria-current="page" href="#" ng-click="setSection('listing')">Próximas actividades</button>
				</li>
				<li class="nav-item">
					<a ng-class="{active: section=='calendar'}" class="nav-link" href="/calendario/" ng-click="$event.preventDefault();setSection('calendar')">Calendario</a>
				</li>
			</ul>
		</div>
		<div class="col-md-auto col-12">
			{% if current_user_id > 0 %}
			<a class="btn btn-primary" href="/eventos/new/"><i class="fa fa-plus"></i> Crear evento</a>
			{% endif %}

		</div>
	</div>

	<div ng-if="section=='listing'">
		{% if events | length == 0 %}
		<div class="card card-highlight">
			<div class="card-body">
				Ahora mismo no hay actividades programadas!
			</div>
		</div>
		{% endif %}
		{% for event in events %}
		<div class="card card-highlight mb-3">
			<div class="card-body">
				<header>
					<div class="row">
						{% if event['avatar'] %}
						<div class="col-auto">
							<a href="/eventos/{{event['slug']}}">
								<img class="rounded" src="{{event['avatar']}}" width="64" height="64"></img>
							</a>
						</div>
						{% endif %}
						<div class="col">
							<h3 class="card-title"><a href="/eventos/{{event['slug']}}">{{ event['title'] }}</a></h3>
							<div class="cart-subtitle text-muted">{{ i18n[event['event_type'].name] }}, el {{ format_date(event['date_start'], '%A %-d de %B a las %H:%M') }}</div>
						</div>
						{% if event.is_editable() %}
						<div class="col-auto">
							<a class="btn btn-sm btn-secondary" href="/eventos/{{ event['slug'] }}/edit">Editar</a>
						</div>
						{% endif %}
					</div>
				</header>
				{% if event['description'] %}
				<hr>
				{% endif %}
				<p>{{ event['description']|safe }}</p>
			</div>
			<div class="card-footer">
				<a class="btn btn-sm-xx btn-link footer-item" href="/eventos/{{ event['slug'] }}">Ver más</a>
				{% if comments.get(event['id']) %}
				<a href="/eventos/{{ event['slug'] }}" class="link-dark link-underline-opacity-0 link-underline-opacity-0-hover">
					<i class="fas fa-comments"></i> <div class="count-arrow border bg-light px-2 border-1 rounded d-inline-block footer-item">{{ comments[event['id']] }}</div>
				</a>
				{% if current_user_id == event['user_id'] %}
				<!--<a class="action" href="{{ url_for('calendar.update_calendar_event', calid=1, eventid=event['id']) }}">Edit</a>-->
				<!--<a class="btn btn-sm btn-secondary" href="/eventos/{{ event['slug'] }}/edit">Editar</a>-->
				{% endif %}
				{% endif %}
				{% if bookmarks.get(event['id']) %}
				{% for bookmark in bookmarks[event['id']] %}
				<a href="{{ bookmark['url'] }}" class="btn btn-link fs-5 ">
					<i class="{% if bookmark['type'] == 'facebook' %}fab fa-facebook{% elif bookmark['type'] == 'whatsapp' %}fab fa-whatsapp{% elif bookmark['type'] == 'instagram' %}fab fa-instagram{% else %}fas fa-bookmark{% endif %}"></i>
					{% if bookmark['title'] %}<div class="count-arrow border bg-light px-2 border-1 rounded d-inline-block footer-item">{{bookmark['title']}}</div>{% endif %}
				</a>

				{% endfor %}
				{% endif %}

			</div>
		</div>
		{% if not loop.last %}
		<!--<hr>-->
		{% endif %}
		{% endfor %}
	</div>
	<div ng-if="section=='calendar'">
		<calendar></calendar>
	</div>
</div>
{% endblock %}
