{% extends 'carta-main.html' %}

{% block content %}

    <h2 class="card-title">{% block title %}Próximamente{% endblock %}</h2>
    <hr>
{% for event in events %}
    <div class="row col-form-label">
    	<div class="col-sm-8 col">
		<a href="/eventos/{{ event['slug'] }}">{{ event['title'] }}</a>
	</div>
    	<div class="col-sm-4 col-auto">
		{{ format_date(event['date_start'], '%d/%m, %H:%M') }}
	</div>
    </div>
{% endfor %}
<div class="row">
	<div class="col-auto">
	<a class="btn btn-secondary" href="/actividades/">Actividades</a>
	</div>
</div>
{% endblock %}
