<div class="addevent-section">
    <div class="row">
        <div class="col">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/juegos/">Juegos</a></li>
                    <li ng-if="gameModel.id" class="breadcrumb-item" aria-current="page"><a href="/juegos/{{gameModel.slug}}">{{origModel.title}}</a></li>
                    <li ng-if="gameModel.id" class="breadcrumb-item" aria-current="page">Editar</li>
                    <li ng-if="!gameModel.id" class="breadcrumb-item active" aria-current="page">Crear</li>
                </ol>
            </nav>


        </div>
    </div>

    <h1 class="card-title">{{ actionTitle }}</h1>
    <div>
        <form ng-submit="saveResource(form)" name="form" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Titulo</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="usernameHelp" placeholder="Titulo" ng-model="gameModel.title" required autofocus />
                <div class="ng-hide validation-error" ng-cloak ng-if="form.title.$invalid&&form.$submitted">
                    Debes introducir un título para el evento.
                </div>
            </div>
            <div class="row mb-3">
                <label for="rating" class="col-sm-auto col-12 col-form-label">Puntuación:</label>
                <div class="col-sm-4">
                    <input id="rating" type="text" class="form-control" ng-model="gameModel.rating"></input>
                </div>
                <label for="vis-difficulty" class="col-sm-auto col-12 col-form-label">Dificultad:</label>
                <div class="col-sm-4">
                    <input id="difficulty" type="text" class="form-control" ng-model="gameModel.difficulty"></input>
                </div>
            </div>
            <div class="row mb-3">
                <label for="min-players" class="col-sm-2 col-12 col-form-label">Jugadores:</label>
                <div class="col-sm-1">
                    <input id="min-players" type="text" class="form-control" ng-model="gameModel.players.min"></input>
                </div>
                <label for="max-players" class="col-auto col-form-label">-</label>
                <div class="col-sm-1">
                    <input id="max-players" type="text" class="form-control" ng-model="gameModel.players.max"></input>
                </div>
                <div class="col-sm-1">
                </div>
                <label for="max-best-players" class="col-sm-auto col-12 col-form-label">Óptimo:</label>
                <div class="col-sm-1">
                    <input id="max-best-players" type="text" class="form-control" ng-model="gameModel.best.min"></input>
                </div>
                <label for="max-best-players" class="col-auto col-form-label">-</label>
                <div class="col-sm-1">
                    <input id="max-best-players" type="text" class="form-control" ng-model="gameModel.best.max"></input>
                </div>
            </div>
            <div class="row mb-3">
                <label for="min-players" class="col-sm-2 col-12 col-form-label">Tiempo de juego:</label>
                <div class="col-sm-1">
                    <input id="min-players" type="text" class="form-control" ng-model="gameModel.duration.min"></input>
                </div>
                <label for="max-players" class="col-auto col-form-label">-</label>
                <div class="col-sm-1">
                    <input id="max-players" type="text" class="form-control" ng-model="gameModel.duration.max"></input>
                </div>
                <div class="col-sm-1 col-form-label">
                    mins
                </div>
            </div>
            <div class="row mb-3">
                <label for="vis-select" class="col-sm-auto col-12 col-form-label">Visibilidad:</label>
                <div class="col-sm-4">
                    <select id="vis-select" class="browser-default custom-select form-select" ng-model="gameModel.visibility">
                        <option value="public">Publico</option>
                        <option value="members">Miembros</option>
                        <option value="group">Grupo</option>
                        <option ng-if="login.whoami.id==gameModel.userId" value="private">Privado</option>
                    </select>
                </div>
            </div>
            <details ng-open="gameModel.description || gameModel.registration || gameModel.permissions != 'user'">
                <summary>Opciones avanzadas</summary>
                <div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descripcion</label>
                        <rich-editor placeholder="Descripcion" ng-model="gameModel.description">
                        </rich-editor>
                    </div>
                    <div class="row mb-3">
                        <label for="perms-select" class="col-sm-2 col-form-label">Editable por otros</label>
                        <div class="col-sm-10">
                            <select id="perms-select" class="browser-default custom-select form-select" ng-model="gameModel.permissions">
                                <option value="user">No editable</option>
                                <option value="group">editable</option>
                            </select>
                        </div>
                    </div>
                </div>
            </details>
            <br />
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a ng-click="$event.preventDefault();cancelEdit()" class="btn btn-secondary">Cancelar</a>
        </form>
        <div ng-bind="whoami.username"></div>
        <div ng-bind="status"></div>
    </div>

</div>
