<div class="row">
    <div class="col">
        <h3>Juegos de Mesa</h3>
    </div>
    <div class="col-auto">
        <button ng-if="login.isLoggedIn" ng-click="newGame()" class="btn btn-primary"><i class="fa fa-plus"></i> Crear</a></button>
    </div>
</div>

<div class="row">
    <div class="col-4" ng-click="setSortBy('slug')">
       Titulo <i class="text-secondary fa" ng-class="{'fa-sort-alpha-down': sortGamesBy=='slug'&&!searchReversed, 'fa-sort-alpha-up': sortGamesBy=='slug'&&searchReversed}"></i>
    </div>
    <div class="col-1 d-none d-md-block" ng-click="setSortBy('difficulty')">
        Dificultad <!--<i class="text-secondary fa" ng-class="{'fa-sort-alpha-down': sortGamesBy=='difficulty'&&!searchReversed, 'fa-sort-alpha-up': sortGamesBy=='difficulty'&&searchReversed}"></i>-->
    </div>
    <div class="col-3 col-md-1" ng-click="setSortBy('players.min')">
        Jugadores <!--<i class="text-secondary fa" ng-class="{'fa-sort-amount-down': sortGamesBy=='players.min'&&!searchReversed, 'fa-sort-amount-up': sortGamesBy=='players.min'&&searchReversed}"></i>-->
    </div>
    <div class="col-1 d-none d-md-block" ng-click="setSortBy('best.max')">
        Óptimo <i class="text-secondary fa" ng-class="{'fa-sort-amount-down': sortGamesBy=='best.max'&&!searchReversed, 'fa-sort-amount-up': sortGamesBy=='best.max'&&searchReversed}"></i>
    </div>
    <div class="col-1 d-none d-md-block" ng-click="setSortBy('duration.max')">
        Tiempo <i class="text-secondary fa" ng-class="{'fa-sort-amount-down': sortGamesBy=='duration.max'&&!searchReversed, 'fa-sort-amount-up': sortGamesBy=='duration.max'&&searchReversed}"></i>
    </div>
    <div class="col-5 col-md-4" ng-click="setSortBy('description')">
        Extra <i class="text-secondary fa" ng-class="{'fa-sort-alpha-down': sortGamesBy=='description'&&!searchReversed, 'fa-sort-alpha-up': sortGamesBy=='description'&&searchReversed}"></i>
    </div>
</div>
<div class="row mb-3">
    <div class="col-4"><input class="form-control" type="text" ng-change="updateFilters()" ng-model="filters.title"></input></div>
    <div class="col-1 d-none d-md-block"><input class="form-control" type="text" ng-change="updateFilters()" ng-model="filters.difficulty"></input></div>
    <div class="col-3 col-md-1"><input class="form-control" type="text" ng-change="updateFilters()" ng-model="filters.players"></input></div>
    <div class="col-1 d-none d-md-block"><input class="form-control" type="text" ng-change="updateFilters()" ng-model="filters.best"></input></div>
    <div class="col-1 d-none d-md-block"><input class="form-control" type="text" ng-change="updateFilters()" ng-model="filters.duration"></input></div>
</div>

<div class="spinner-containerx d-flex justify-content-center" ng-show="!ready">
    <div class="spinner-grow m-5" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div ng-if="ready" ng-controller="GamesAnnotationsController">
    <div ng-if="checkFilter(game)" ng-click="selectGame(game)" ng-repeat="game in gameList | orderBy:sortGamesBy : searchReversed" class="row game-row">
        <div class="col-4 col-form-label">
            {{game.title}}
        </div>
        <div class="col-1 col-form-label d-none d-md-block" ng-class="{'game-col-easy':game.difficulty&lt;2, 'game-col-medium': game.difficulty&gt;=2&&game.difficulty&lt;3, 'game-col-hard': game.difficulty&gt;4}">
            {{game.difficulty | zeroInvalid}}
        </div>
        <div class="col-3 col-md-1 col-form-label">
            {{game.players | minmax}}
        </div>
        <div class="col-1 col-form-label d-none d-md-block">
            {{game.best | minmax}}
        </div>
        <div class="col-1 col-form-label d-none d-md-block">
            {{game.duration | minmax}}
        </div>
        <div class="col-5 col-md-4 col-form-label">
            <annotation-controls actions="like,have,wannaplay" on-click="toggleAnnotation(game.id, action, $event)" annotation-list="annotationList[game.id]"></annotation-controls>
            <span ng-class="{'d-none': login.isLoggedIn,'d-md-inline': login.isLoggedIn}" ng-if="game.avatar">
                <avatar-image avatar="game.avatar" width="64"></avatar-image> <span ng-if="game.description.length < 20" class="d-none d-md-inline"></span>
            </span>
        </div>
    </div>
</div>
