<div ng-cloak ng-controller="AnnotationController">
    <div class="row">
        <div class="col">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/juegos/">Juegos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ gameModel.title }}</li>
                </ol>
            </nav>

        </div>
        <div class="col-auto d-none d-md-block" ng-if="login.isLoggedIn&&gameModel.editable">
                <entity-popmenu class="mb-3" on-edit="editGame()" on-edit-avatar="editAvatar()" on-delete="deleteGame(model)" model="gameModel">
                </entity-popmenu>
        </div>


        <!--<div class="col-auto d-none d-md-block">
            <button ng-if="login.isLoggedIn && gameModel.editable" ng-click="editGame()" class="btn btn-primary">Editar</button>
            <button ng-if="login.isLoggedIn && gameModel.editable" ng-click="editAvatar()" class="btn btn-secondary">Cambiar imagen</button>
        </div>-->
    </div>

    <modal id="confirmModal"></modal>

    <div class="row">
        <div class="col-md-8 col-12">
            <div class="row">
                <div class="col-auto" ng-if="gameModel.avatar">
                    <h1 class="d-sm-none d-block card-title mb-0">{{ gameModel.title }}<privacy-icons class="align-bottom mb-2 ms-1" visibility="{{gameModel.visibility}}" permissions="{{gameModel.permissions}}"></privacy-icons></h1>
                    <div ng-click="showCover()">
                        <avatar-image avatar-class="rounded" avatar="gameModel.avatar" width="128"></avatar-image>
                    </div>
                    <img-modal class="cover-modal" id="coverModal" data-bs-theme="dark" close-on-body="true">
                        <img class="cover-modal-img rounded shadow-1-strong" ng-src="{{'/media/'+gameModel.avatar.split('/')[3]}}"></img>
                    </img-modal>
                </div>

                <div class="col">
                    <h1 class="d-none d-sm-block card-title mb-0">{{ gameModel.title }}<privacy-icons class="align-bottom mb-2 ms-1" visibility="{{gameModel.visibility}}" permissions="{{gameModel.permissions}}"></privacy-icons></h1>
                    <small ng-if="login.isLoggedIn" class="ms-2">creado por <a title="{{gameModel.user.name}}" href="/profile/{{gameModel.user.id}}"><avatar-image avatar-class="rounded-circle" avatar="gameModel.user.avatar" width="24"></avatar-image></a></small>
                    <div class="mt-3 mb-3 row">
                        <div class="col-md-6 col-12 col-form-label">Puntuación: {{ gameModel.rating | zeroInvalid }}</div>
                        <div class="col-md-6 col-12 col-form-label">Dificultad: {{ gameModel.difficulty | zeroInvalid }}</div>
                        <div class="col-md-6 col-12 col-form-label">Jugadores: {{ gameModel.players | minmax }}</div>
                        <div class="col-md-6 col-12 col-form-label">Recomendado: {{ gameModel.best | minmax }}</div>
                        <div class="col-md-12 col-12 col-form-label">Tiempo de juego: {{ gameModel.duration | minmax }} mins</div>
                    </div>

                </div>
            </div>
            <br ng-if="trustedHtml">

            <div class="mb-3">
                <span ng-bind-html="trustedHtml"></span>
            </div>

            <div class="row justify-content-end d-flex d-md-none mb-3">
                <div class="col-auto">
                    <button ng-if="login.isLoggedIn && gameModel.editable" ng-click="editGame()" class="btn btn-primary">Editar</button>
                    <button ng-if="login.isLoggedIn" ng-click="editAvatar()" class="btn btn-secondary">Cambiar imagen</button>
                </div>
            </div>
            <div class="row justify-content-end d-md-none">
                <div class="col-auto">
                    <annotation-controls actions="like,have,wannaplay" on-click="toggleAnnotation(action)" annotation-list="annotationList"></annotation-controls>
                </div>
            </div>

            <comments model-type="game" main-model="gameModel" login="login" class="mb-3"></comments>
        </div>
        <div class="col-md-4 col-12">
            <!--<div class="row justify-content-end d-none d-md-flex">
                <div class="col-auto">
                    <button ng-if="login.isLoggedIn && gameModel.editable" ng-click="editGame()" class="btn btn-primary">Editar</button>
                    <button ng-if="login.isLoggedIn && gameModel.editable" ng-click="editAvatar()" class="btn btn-secondary">Cambiar imagen</button>
                </div>
            </div>-->
            <div class="row justify-content-end d-none d-md-flex" ng-if="login.isLoggedIn">
                <div class="col-auto">
                    <annotation-controls actions="like,have,wannaplay" on-click="toggleAnnotation(action)" annotation-list="annotationList"></annotation-controls>
                </div>
            </div>
            <div class="row mt-3" ng-if="annotations.length&gt;0">
                <div class="row justify-content-left">
                    <div ng-repeat="(userId, annotation) in annotationUsers" class="annotation-avatar-list" ng-click="viewProfile(annotation.user)">
                        <avatar-image avatar-class="rounded-circle" avatar="annotation.user.avatar" title="{{annotation.user.name}}: {{annotation.annotations.join(', ')}}" width="32"></avatar-image>
                    </div>
                </div>
            </div>

            <bookmarks model-type="game" schema="schema" main-model="gameModel" login="login"></bookmarks>
            <attachments model-type="game" schema="schema" main-model="gameModel" login="login"></attachments>
        </div>
    </div>
</div>
