<div class="row">
    <div class="col-md-8 col-12">
        <div class="row mb-4">
            <div class="col-auto">
                <img class="rounded-circle shadow-1-strong" ng-src="{{$ctrl.groupModel.avatar}}" width="128" height="128"></img>
            </div>
            <div class="col">
                <h1 class="card-title">{{$ctrl.groupModel.title}}</h1>

                <p ng-if="$ctrl.login.isLoggedIn&&$ctrl.members.length">
                <small class="text-muted">en el grupo:</small><br/>
                <span ng-repeat="member in $ctrl.members" ng-if="member.id != 1">
                    <a ng-href="/profile/{{member.id}}">
                        <avatar-image avatar-class="rounded-circle" avatar="member.avatar" title="{{member.name}}" width="32"></avatar-image>
                    </a>
                </span>
                </p>
                <blockquote class="blockquote" ng-if="$ctrl.groupModel.trustedMotto"><small><span ng-bind-html="$ctrl.groupModel.trustedMotto"></span></small></blockquote>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-auto" ng-if="$ctrl.groupModel.editable">
                <div class="input-group mb-3" >
                    <button ng-click="editProfile()" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Abrir menú</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><button ng-click="editAvatar()" class="dropdown-item" type="button"><i class="fa fa-fw fa-image"></i> Cambiar imagen</button></li>
                        <li ng-if="$ctrl.groupModel.editable&&$ctrl.login.whoami.id==$ctrl.groupModel.userId"><button ng-click="deleteEvent($ctrl.groupModel)" class="dropdown-item" type="button"><i class="fa fa-fw fa-times"></i> Eliminar</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <river ng-if="$ctrl.login.isLoggedIn&&$ctrl.groupModel.id" access="{groupId: $ctrl.groupModel.id}" river-title="Actividad" limit="10"></river>
    </div>

</div>
